[Desktop Entry]
Categories = Development; Documentation; Programming; Qt;
Comment = It shows QT documentation and examples
Comment[ca] = Mostra la documentació i els exemples de QT
Comment[de] = Es zeigt QT-Dokumentation und Beispiele
Comment[eo] = I montras dokumentarojn kaj ekzemplojn de QT
Comment[es] = Muestra documentación y ejemplos de QT.
Comment[eu] = QT dokumentazioa eta adibideak erakusten ditu
Comment[fr] = Il montre la documentation et des exemples de QT
Comment[it] = Mostra la documentazione e gli esempi di QT
Comment[nl] = Het toont T-documentatie en voorbeelden
Comment[pt] = Mostra documentação e exemplos do QT
Comment[ro] = Acesta prezintă documentația și exemple di QT
Comment[ru] = Он показывает документацию и примеры QT
Comment[uk] = Він показує документацію та приклади QT
Exec = assistant
GenericName = QT Assistant
GenericName[ca] = Assistent QT
GenericName[de] = QT-Assistent
GenericName[eo] = Asistanto QT
GenericName[es] = Asistente QT
GenericName[eu] = Laguntzaile QT
GenericName[fr] = Assistant QT
GenericName[it] = Assistente QT
GenericName[nl] = QT-Assistent 
GenericName[pt_BR] = Assistente do QT
GenericName[pt_PT] = Assistente do QT
GenericName[pt] = Assistente do QT
GenericName[ro] = Asistent QT
GenericName[ru] = Ассистент QT
GenericName[uk] = Помічник QT
Icon = assistant
Keywords = assistant; demos; documentation; examples; QT;
Keywords[ca] = assistent; demos; documentació; exemples; QT;
Keywords[de] = Assistent; Dokumentation; Beispiele; Demo; QT;
Keywords[eo] = asistanto; demo; dokumentarojn; ekzemplojn; QT;
Keywords[es] = asistente; demo; documentación; ejemplos; QT;
Keywords[eu] = adibideak; demo; dokumentazioa; laguntzaile; QT;
Keywords[fr] = assistant; démo; documentation; exemples; QT;
Keywords[it] = assistente; demo; documentazione; esempi; QT;
Keywords[nl] = assistent; demo; documentatie; voorbeelden; QT;
Keywords[pt] = assistente; demo; demonstração; demonstrações; documentação; exemplos; QT;
Keywords[ro] = asistent; demo; documentația; exemple; QT;
Keywords[ru] = QT; ассистент; документацию; приклади;
Keywords[uk] = QT; документацію; приклади;
Name = QT Assistant
Name[ca] = Assistent QT
Name[de] = QT-Assistent
Name[eo] = Asistanto QT
Name[es] = Asistente QT
Name[eu] = Laguntzaile QT
Name[fr] = Assistant QT
Name[it] = Assistente QT
Name[nl] = QT-Assistent 
Name[pt_BR] = Assistente do QT
Name[pt_PT] = Assistente do QT
Name[pt] = Assistente do QT
Name[ro] = Asistent QT
Name[ru] = Ассистент QT
Name[uk] = Помічник QT
StartupWMClass = assistant
Terminal = false
Type = Application
Version = 1.1
