[Desktop Entry]
Categories = Development; Graphics; Qt; Programming;
Comment[ca] = Dissenyar interfícies gràfiques gràfiques per a aplicacions QT
Comment[de] = Entwerfe GUIs für QT-App
Comment[eo] = Desegni GUIs por QT-aplikoj
Comment[es] = Diseñar los GUIs para aplicaciones QT
Comment[eu] = Diseinatu GUI QT aplikazioetarako
Comment[fr] = Concevoir des interfaces graphiques pour les applications QT
Comment[it] = Disgenare i GUI per applicazioni QT
Comment[nl] = GUI’s voor QT-applicaties ontwerpen
Comment[pt_BR] = Desenhar os GUIs para aplicativos do QT
Comment[pt_PT] = Desenhar os GUIs para aplicações do QT
Comment[pt] = Desenhar os GUIs para aplicações do QT
Comment[ro] = A desena GUI-uri pentru aplicațiile QT
Comment[ru] = Разработка графического интерфейса для приложений QT
Comment[uk] = Розробка графічних інтерфейсів для додатків QT
Comment = Design GUIs for QT applications
Exec = designer %F
GenericName = Interface Designer
GenericName[ca] = Dissenyador d’interfícies
GenericName[de] = Interface Designer
GenericName[eo] = Interfaca Dizajnisto
GenericName[es] = Diseñador de interfaz
GenericName[eu] = Interfaze diseinatzailea
GenericName[fr] = Concepteur d’interface
GenericName[it] = Designer di interfacce
GenericName[nl] = Interface Designer
GenericName[pt_BR] = Designer de interface
GenericName[pt_PT] = Designer de interface
GenericName[pt] = Designer de interface
GenericName[ro] = Designer de interfețe
GenericName[ru] = Дизайнер интерфейсов
GenericName[uk] = Дизайнер інтерфейсу
Icon = QtProject-designer
Keywords = designer; GUI; QT;
Keywords[ca] = dissenyador; GUI; QT;
Keywords[de] = Designer; GUI; QT;
Keywords[eo] = dizajnisto; GUI; QT;
Keywords[es] = diseñador; GUI; QT;
Keywords[eu] = diseinatzaile; GUI; QT;
Keywords[fr] = design; designer; GUI; QT;
Keywords[it] = designer; disegno; GUI; QT;
Keywords[nl] = design; designer; GUI; ontwerpen; QT;
Keywords[pt] = desenho; design; designer; GUI; QT;
Keywords[ro] = a desena; a proiteca; design; designer; GUI; QT;
Keywords[ru] = дизайнер; GUI; QT;
Keywords[uk] = дизайнер; GUI; QT;
MimeType = application/x-designer;
Name = QT Designer
StartupNotify = true
StartupWMClass = designer
Terminal = false
Type = Application
Version = 1.1
