[Desktop Entry]
Categories = Development; GNOME; GTK; Programming; WebDevelopment;
Exec = electron %u
Icon = electron
Name = Electron
StartupNotify = true
StarupWMClass = electron
Type = Application
Version = 1.1
