[Desktop Entry]
Categories = Development; Programming; TextEditor;
Comment = Edit text files
Comment[ca] = Editeu fitxers de text
Comment[de] = Textdateien bearbeiten
Comment[el] = Επεξεργασία αρχείων κειμένου
Comment[eo] = Redakti tekstdosierojn
Comment[es] = Edite archivos de texto
Comment[eu] = Editatu testu-fitxategiak
Comment[fr] = Éditer des fichiers texte
Comment[it] = Modifica file di testo
Comment[ja] = テキスト形式のファイルを編集します
Comment[ka] = ტექსტური ფაილების რედაქტირება
Comment[nl] = Tekstbestanden bewerken
Comment[pt_BR] = Edite arquivos de texto
Comment[pt] = Editar ficheiros de texto
Comment[ro] = Editare fișiere text
Comment[ru] = Редактор текстовых файлов
Comment[uk] = Редактор текстових файлів
Exec = emacs %F
GenericName = Text Editor
GenericName[ca] = Editor de text
GenericName[de] = Texteditor
GenericName[eo] = Tekstoredaktilo
GenericName[es] = Editor de texto
GenericName[eu] = Testu editorea
GenericName[fr] = Éditeur de texte
GenericName[it] = Editor di testo
GenericName[nl] = Teksteditor
GenericName[pt_BR] = Editor de texto
GenericName[pt_PT] = Editor de texto
GenericName[pt] = Editor de texto
GenericName[ro] = Editor de text
GenericName[ru] = Текстовый редактор
GenericName[uk] = Текстовий редактор
Icon = emacs
Keywords = editor; plaintext; text; write;
Keywords[ca] = editor; text; escriure; text simple;
Keywords[de] = editor; klartext; schreiben; text;
Keywords[el] = editor; plaintext; text; write; γράψιμο; εγγραφή; επεξεργαστής; κείμενο;
Keywords[eo] = plata teksto; redaktilo; skribi; teksto;
Keywords[es] = editor; escribir; plano; texto;
Keywords[eu] = editorea; idatzi; testu soila; testua;
Keywords[fr] = texte brut; écrire; éditeur;
Keywords[it] = editor; scrivere; testo; text;
Keywords[ja] = editor; plaintext; text; write; エディター; テキスト; プレーンテキスト;
Keywords[nl] = editor; plaintext; text; write; platte tekst; schrijven; tekst; teksteditor; tekstverwerker;
Keywords[pt_BR] = editor; escrever; texto; texto simples; texto plano; texto puro; texto sem formatação;
Keywords[pt] = editor; escrever; simples; texto;
Keywords[ro] = editor; plaintext; scrie; text; write;
Keywords[ru] = запись; редактор; текст; текстовый;
Keywords[uk] = запис; редактор; текст;
MimeType = application/x-shellscript; text/english; text/plain; text/x-c; text/x-c++; text/x-c++hdr; text/x-c++src; text/x-chdr; text/x-csrc; text/x-java; text/x-makefile; text/x-moc; text/x-pascal; text/x-tcl; text/x-tex;
Name = Emacs
StartupNotify = true
StartupWMClass = Emacs
Terminal = false
Type = Application
Version = 1.1
