[Desktop Entry]
Categories = Development; Documentation; GNOME; GTK; Programming;
Comment = Unleash your Git repository
Comment[ca] = Allibera el repositori Git
Comment[de] = Entfessle dein Git-Repository
Comment[eo] = Liberigu vian Git-deponejon
Comment[es] = Desata tu repositorio Git
Comment[eu] = Askatu zure Git biltegiak
Comment[fr] = Libérez votre dépôt Git
Comment[it] = Scatena il tuo repository Git
Comment[nl] = Laat uw Git-repository los
Comment[pt] = Libere seu repositório Git
Comment[ro] = Eliberați repertoriu Git
Comment[ru] = Раскройте свой Git-репозиторий
Comment[uk] = Запустіть свій репозиторій Git
Exec = gitkraken
Icon = gitkraken
GenericName = Git Repository
GenericName[ca] = Repositori Git
GenericName[de] = Git-Repository
GenericName[eo] = Git-Deponejon
GenericName[es] = Repositorio Git
GenericName[eu] = Git Biltegiak
GenericName[fr] = Dépôt Git
GenericName[it] = Repository Git
GenericName[nl] = Git-Repository
GenericName[pt_BR] = Repositório Git
GenericName[pt_PT] = Repositório Git
GenericName[pt] = Repositório Git
GenericName[ro] = Repertoriu Git
GenericName[ru] = Git-Репозиторий
GenericName[uk] = Репозиторій Git
Keywords = git; merge; pull; push; repository; 
MimeType = text/plain;
Name = GitKraken
StartupNotify = true
StartupWMClass = gitkraken
Terminal = false
Type = Application
Version = 1.1
