[Desktop Entry]
Categories = Development; Qt; Programming;
Comment = Add translations to Qt applications
Exec = linguist %F
Icon = linguist
MimeType = application/x-linguist; text/vnd.trolltech.linguist;
Name = QT Linguist
StartupNotify = true
StartupWMClass = linguist
Terminal = false
Type = Application
Version = 1.1