[Desktop Entry]
Categories = Accessories; Development; Git; Programming;
Comment[ca] = Compareu els fitxers i les carpetes, copieu i fes merg.
Comment[de] = Vergleiche die Dateien und Ordner, kopiere sie und mach einen Merg.
Comment[eo] = Kompari la dosierojn kaj la dosierujojn, kopii kaj faru merge.
Comment[es] = Compara los archivos y las carpetas, copia y haz un merg.
Comment[eu] = Konparatu fitxategiak eta karpetak, kopiatu eta egin merg.
Comment[fr] = Comparez les fichiers et les dossiers, copiez et faites-en un merg.
Comment[it] = Compara i file e le cartelle, copia e unisci.
Comment[nl] = Vergelijk de bestanden en de mappen, kopiëre en maak een merg.
Comment[pt_BR] = Compare os arquivos e as pastas, copie e mescle.
Comment[pt_PT] = Compare os ficheiros e os directórios, copie e mescle.
Comment[pt] = Compare os ficheiros e os directórios, copie e mescle.
Comment[ro] = Comparați fișierele și dosarele, copiați și fă o merge.
Comment[ru] = Сравните файлы и папки, скопируйте и объедините.
Comment[uk] = Порівняйте файли та папки, скопіюйте та об’єднайте.
Comment = Compare the files and the folders, copy and merge. 
Exec = meld
GenericName[ca] = Comparació
GenericName[de] = Vergelich
GenericName[eo] = Komparo
GenericName[es] = Comparación
GenericName[eu] = Konparazio
GenericName[fr] = Comparaison
GenericName[it] = Comparazione
GenericName[nl] = Vergelijking 
GenericName[pt_BR] = Comparador
GenericName[pt_PT] = Comparador
GenericName[pt] = Comparador
GenericName[ro] = Comparați
GenericName[ru] = Сравнение
GenericName[uk] = Порівняння
GenericName = Comparaison
Icon = meld;
Keywords[ca] = carpeta; carpetes; comparar; fitxer; fitxers; git; merge; pull; push;
Keywords[de] = Datei; Dateien; git; Merg; merge; Ordner; pull; push; vergleichen;
Keywords[eo] = dosiero; dosieroj; dosierujo; dosierujoj; git; komparu; merge; pull; push;
Keywords[es] = archivo; archivos; carpeta; carpetas; comparar; git; merge; pull; push;
Keywords[eu] = fitxategia; fitxategiak; git; karpeta; karpetak; konparatu; konparazio;
Keywords[fr] = comparaison; comparer; dossier; dossiers; fichier; fichiers; git; pull; push;
Keywords[it] = cartella; cartelle; comparare; comparazione; file; git; merge; pull; push;
Keywords[nl] = bestand; bestanden; git; map; mappen; merge; pull; push; vergelijken;
Keywords[pt] = arquivo; arquivos; comparação; comparar; directório; directórios; diretório; diretório; git; merge; mesclar; pasta; pastas; pull; push;
Keywords[ro] = comparaţie; comprare; dosar; dosare; fişier; fișiere; folder; git; merge; pull; push;
Keywords[ru] = git; merge; pull; push; папки; папки; сравнить; файл; файлы;
Keywords[uk] = git; merge; pull; push; папка; папки; порівняти; файл; файли;
Keywords = compare; file; files; folder; folders; git; merge; pull; push;
Name = Meld
StartupNotify = true
StartupWMClass = meld
Terminal = false
Type = Application
Version = 1.1
