[Desktop Entry]
Categories = Debugger; Development; Qt;
Comment = Debug D-Bus applications
Exec = qdbusviewer
GenericName = D-Bus Debugger
Icon = qdbusviewer
Name = Qt QDbusViewer 
StartupNotify = true
StartupWMClass = qdbusviewer
Terminal = false
Type = Application
Version = 1.1
