[Desktop Entry]
Actions = Document; Window;
Categories = Development; Programming; TextEditor;
Comment = Sophisticated text editor for code, markup and prose
Comment[ca] = Editor de text sofisticat per a codi, marcatge i prosa
Comment[de] = Anspruchsvoller Texteditor für Code, Markup und Prosa
Comment[eo] = Kompleksa tekstoredaktilo por kodo, markado kaj prozo
Comment[es] = Sofisticado editor de texto para código, marcado y prosa
Comment[eu] = Kode, markaketa eta prosa testu sofistikatuen editorea
Comment[fr] = Editeur de texte sophistiqué pour le code, le balisage et la prose
Comment[it] = Editor di testo sofisticato per codice, markup e prosa
Comment[nl] = Geavanceerde teksteditor voor code, opmaak en proza
Comment[pt] = Editor de texto sofisticado para código, marcação e prosa
Comment[ro] = Editor de text sofisticat pentru cod, markup și proză
Comment[ru] = Сложный текстовый редактор для кода, разметки и прозы
Comment[uk] = Складний текстовий редактор для коду, розмітки та прози
Exec = /opt/sublime_text/sublime_text %F
GenericName = Text Editor
GenericName[ca] = Editor de text
GenericName[de] = Texteditor
GenericName[eo] = Tekstoredaktilo
GenericName[es] = Editor de texto
GenericName[eu] = Testu editorea
GenericName[fr] = Éditeur de texte
GenericName[it] = Editor di testo
GenericName[nl] = Teksteditor
GenericName[pt_BR] = Editor de texto
GenericName[pt_PT] = Editor de texto
GenericName[pt] = Editor de texto
GenericName[ro] = Editor de text
GenericName[ru] = Текстовый редактор
GenericName[uk] = Текстовий редактор
Icon = sublime-text
Keywords = editor; plaintext; text; write;
Keywords[ca] = editor; text; escriure; text simple;
Keywords[de] = editor; klartext; schreiben; text;
Keywords[el] = editor; plaintext; text; write; γράψιμο; εγγραφή; επεξεργαστής; κείμενο;
Keywords[eo] = plata teksto; redaktilo; skribi; teksto;
Keywords[es] = editor; escribir; plano; texto;
Keywords[eu] = editorea; idatzi; testu soila; testua;
Keywords[fr] = texte brut; écrire; éditeur;
Keywords[it] = editor; scrivere; testo; text;
Keywords[ja] = editor; plaintext; text; write; エディター; テキスト; プレーンテキスト;
Keywords[nl] = editor; plaintext; text; write; platte tekst; schrijven; tekst; teksteditor; tekstverwerker;
Keywords[pt_BR] = editor; escrever; texto; texto simples; texto plano; texto puro; texto sem formatação;
Keywords[pt] = editor; escrever; simples; texto;
Keywords[ro] = editor; plaintext; scrie; text; write;
Keywords[ru] = запись; редактор; текст; текстовый;
Keywords[uk] = запис; редактор; текст;
MimeType = text/plain;
Name = Sublime Text
StartupNotify = true
StartupWMClass = sublime_text
Terminal = false
Type = Application
Version = 1.1

[Desktop Action Window]
Name = New Window
Exec = /opt/sublime_text/sublime_text -n
OnlyShowIn = Unity;

[Desktop Action Document]
Name = New File
Exec = /opt/sublime_text/sublime_text --command new_file
OnlyShowIn = Unity;
