[Desktop Entry]
Actions = Document; WIndow;
Categories = Development; Git;
Comment = Sublime Merge is a Git client, from the makers of Sublime Text
Exec = /opt/sublime_merge/sublime_merge %F
GenericName = Git Client
Icon = sublime-merge
MimeType = text/plain;
Name = Sublime Merge
StartupNotify = true
StartupWMClass = sublime_merge
Terminal = false
Type = Application
Version = 1.0
