[Desktop Entry]
Categories = Debugger; Development; IDE; Programming; TextEditor;
Comment = Editor for building and debugging modern web and cloud applications
Exec = /opt/visual-studio-code-insiders/code-insiders %f
Comment[ca] = Editor per crear i depurar aplicacions web i de núvols modernes
Comment[de] = Editor zum Erstellen und Debuggen moderner Web- und Cloud-App
Comment[eo] = Redaktilo por krei kaj elpurigi modernajn retejojn kaj nubojn
Comment[es] = Editor para la construcción y depuración de aplicaciones web y de nube modernas.
Comment[eu] = Web eta hodeiko aplikazio modernoak arazteko eta editatzeko editorea
Comment[fr] = Editeur pour la création et le débogage d’applications Web et cloud modernes
Comment[it] = Editor per la creazione e il debug di moderne applicazioni Web e cloud
Comment[nl] = Editor voor het bouwen en debuggen van moderne web- en cloud-applicaties
Comment[pt_BR] = Editor para criação e depuração de aplicativos modernos da Web e de nuvem
Comment[pt_PT] = Editor para criação e depuração de aplicações modernas da Web e de nuvem
Comment[pt] = Editor para criação e depuração de aplicações modernas da Web e de nuvem
Comment[ro] = Editor pentru construirea și depanarea aplicațiilor moderne web și cloud
Comment[ru] = Редактор для создания и отладки современных веб и облачных приложений
Comment[uk] = Редактор для створення та налагодження сучасних веб-додатків
GenericName = IDE
Icon = visual-studio-code-insiders
Keywords = editor; IDE; plaintext; text; write;
Keywords[ca] = editor; escriure; IDE; text; text simple;
Keywords[de] = editor; IDE; klartext; schreiben; text;
Keywords[el] = editor; IDE; plaintext; text; write; γράψιμο; εγγραφή; επεξεργαστής; κείμενο;
Keywords[eo] = IDE; plata teksto; redaktilo; skribi; teksto;
Keywords[es] = editor; escribir; IDE; plano; texto;
Keywords[eu] = editorea; idatzi; IDE; testu soila; testua;
Keywords[fr] = écrire; éditeur; IDE; texte brut;
Keywords[it] = editor; IDE; scrivere; testo; text;
Keywords[ja] = editor; IDE; plaintext; text; write; エディター; テキスト; プレーンテキスト;
Keywords[nl] = editor; IDE; plaintext; platte tekst; schrijven; tekst; teksteditor; tekstverwerker; text; write;
Keywords[pt_BR] = editor; escrever; IDE; texto; texto plano; texto puro; texto sem formatação; texto simples;
Keywords[pt] = editor; escrever; IDE; simples; texto;
Keywords[ro] = editor; IDE; plaintext; scrie; text; write;
Keywords[ru] = IDE; запись; редактор; текст; текстовый;
Keywords[uk] = IDE; запис; редактор; текст;
MimeType = application/x-shellscript; inode/directory; text/english; text/plain; text/x-c; text/x-c++; text/x-c++hdr; text/x-c++src; text/x-chdr; text/x-csrc; text/x-java; text/x-makefile; text/x-moc; text/x-pascal; text/x-tcl; text/x-tex;
Name = Visual Studio Code Insiders
StartupNotify = true
StartupWMClass = code - insiders
# StartupWMClass = code-insiders
Terminal = false
Type = Application
Version = 1.1
