[Desktop Entry]
Exec = "/home/gusbemacbe/.local/share/vsliveshare/vsls-launcher" "%u" "&"
MimeType = x-scheme-handler/vsls;
Name = Live Share for VS Code
NoDisplay = true
Terminal = false
Type = Application
Version = 1.1
X-Desktop-File-Install-Version = 0.24
X-Version = 2.0.25
