[Desktop Entry]
Categories = Accessories; FileTools; Utility;
Comment = Send files via Bluetooth
Comment[ca] = Enviar fitxers mitjançant Bluetooth
Comment[de] = Dateien über Bluetooth senden
Comment[es] = Enviar archivos a través de Bluetooth
Comment[fr] = Envoyer des fichiers via Bluetooth
Comment[it] = Inviare i file tramite Bluetooth
Comment[nl] = Bestanden via Bluetooth zenden
Comment[pt] = Enviar ficheiros via Bluetooth
Comment[pt_BR] = Enviar arquivos via Bluetooth
Comment[pt_PT] = Enviar ficheiros via Bluetooth
Exec = bluetooth-sendto
GenericName = Bluetooth Send
GenericName[ca] = Enviament de Bluetooth
GenericName[de] = Bluetooth-Sendung
GenericName[es] = Envio del Bluetooth
GenericName[fr] = Envoi du Bluetooth
GenericName[it] = Invio dal Bluetooth
GenericName[nl] = Bluetooth-Verzending
GenericName[pt] = Envio de Bluetooth
GenericName[pt_BR] = Envio de Bluetooth
GenericName[pt_PT] = Envio de Bluetooth
Icon = bluetooth
Keywords = Bluetooth; send; transfer; 
Keywords[ca] = Bluetooth; enviar; transferència;
Keywords[de] = Bluetooth; senden; Sendung; Transfer; Übertragung;
Keywords[es] = Bluetooth; enviar; envio; transferir; transferencia;
Keywords[fr] = Bluetooth; envoi; envoyer; transfert; transmission;
Keywords[it] = Bluetooth; inviare; invio; trasferimento; transmissione;
Keywords[nl] = Bluetooth; sturen; transmissie; verzending; zenden;
Keywords[pt] = Bluetooth; enviar; envio; mandar; transferência; transferir;
Name = Bluetooth Transfer
Name[ca] = Transmissió de Bluetooth
Name[de] = Bluetooth-Übertragung
Name[es] = Transmisión del Bluetooth
Name[fr] = Tranmission du Bluetooth
Name[it] = Tranmissione dal Bluetooth
Name[nl] = Bluetooth-Transmissie
Name[pt] = Transferência de Bluetooth
Name[pt_BR] = Envio de Bluetooth
Name[pt_PT] = Transferência de Bluetooth
StartupWMClass = bluetooth-sendto
StartupNotify = true
Type = Application
Version = 1.1
