[Desktop Entry]
Categories = Accessories; Geography; Utility;
Comment = Find your current location
Comment[ca] = Cerqueu la tua ubicació actual
Comment[de] = Finde deine aktuellen Standort
Comment[es] = Encuentra tu ubicación actual
Comment[fr] = Trouvez votre position actuelle
Comment[it] = Trova la tua posizione attuale
Comment[nl] = Vindt u uw huidige locatie
Comment[pt_BR] = Encontre sua localização atual
Comment[pt_PT] = Encontra tua localização actual
Comment[pt] = Encontra tua localização actual
Exec = /usr/lib/geoclue-2.0/demos/where-am-i
GenericName = Demo geolocation application
GenericName[ca] = Aplicació de demostració de geolocalització
GenericName[de] = Geolokalisierung-Demo-App
GenericName[es] = Aplicación de demostración de geolocalitzación
GenericName[fr] = Application de démonstration de géolocalisation
GenericName[it] = Applicazione demo di geolocalizzazione
GenericName[nl] = Geolocatie demo app
GenericName[pt_BR] = Aplicativo demo de geolocalitzação
GenericName[pt_PT] = Aplicação de demonstração de geolocalitzação
GenericName[pt] = Aplicação de demonstração de geolocalitzação
Icon = mark-location
Keywords = demo; geolocation; location; maps; simulation;
Keywords[ca] = demo; geolocalització; mapes; simulació; ubicació;
Keywords[de] = Demo; Geolokalisierung; Karten; Simulation; Standort;
Keywords[es] = geolocalización; manifestación; mapas; simulación; ubicación;
Keywords[fr] = démo; emplacement; géolocalisation; plans; simulation;
Keywords[it] = demo; geolocalizzazione; mappe; posizione; simulazione;
Keywords[nl] = demo; geolocatie; kaarten; plaats; simulatie;
Keywords[pt_BR] = demo; geolocalização; localização; mapa; mapas; simulação;
Keywords[pt_PT] = demonstração; geolocalização; localização; mapas; simulação;
Keywords[pt] = demonstração; geolocalização; localização; mapas; simulação;
Name = Where am I?
Name[ca] = On sóc?
Name[de] = Wo bin ich?
Name[es] = ¿Dónde estoy ahora?
Name[fr] = Où suis-je maintenant?
Name[it] = Dove sono adesso?
Name[nl] = Waar ben ik nu?
Name[pt_BR] = Onde estou agora?
Name[pt_PT] = Onde estou agora?
Name[pt] = Onde estou agora?
StartupNotify = false
StartupWMClass = where-am-i
Terminal = true
Type = Application
Version = 1.1
X-Geoclue-Reason = It allows your current location to be shown on terminal.
X-Geoclue-Reason[ca] = Permet que es mostri la tua ubicació actual al terminal.
X-Geoclue-Reason[de] = Damit kanst du aktueller Standort auf dem Terminal angezeigt werden.
X-Geoclue-Reason[es] = Permite que su ubicación actual se muestre en la terminal.
X-Geoclue-Reason[fr] = Il permet d’afficher votre position actuelle sur le terminal.
X-Geoclue-Reason[it] = Permette di mostrare la tua posizione corrente sul terminale.
X-Geoclue-Reason[nl] = Hiermee kunt u uw huidige locatie op terminal weergeven.
X-Geoclue-Reason[pt_BR] = Permite que sua localização atual seja mostrada no terminal.
X-Geoclue-Reason[pt_PT] = Permite que tua localização actual seja exibida no terminal.
X-Geoclue-Reason[pt] = Permite que tua localização actual seja exibida no terminal.