[Desktop Entry]
Categories = Accessories; Geography; Utility;
Comment = Simulate the demo geolocation agent
Comment[ca] = Simuleu l’agent de geolocalització de demostració
Comment[de] = Simuliere den Demo-Geolocation-Agenten
Comment[es] = Simular el agente de geolocalización demo.
Comment[fr] = Simuler l’agent de géolocalisation de démonstration
Comment[it] = Simula l’agente di geolocalizzazione demo
Comment[nl] = Simuleer de demo-geolocatie-agent
Comment[pt_BR] = Simule o agente de geolocalização demo
Comment[pt_PT] = Simula o agente de geolocalização de demonstração
Comment[pt] = Simula o agente de geolocalização de demonstração
Exec = /usr/lib/geoclue-2.0/demos/agent
GenericName = Demo Geolocation Agent
GenericName[ca] = Agent de Demostració de Geoclue
GenericName[de] = Geoclue Demo Agent
GenericName[es] = Agente de Demostración Geoclue
GenericName[fr] = Agent de Démonstration Geoclue
GenericName[it] = Agente Demo Geoclue
GenericName[nl] = Geoclue Demo Agent
GenericName[pt_BR] = Agente Demo do Geoclue
GenericName[pt_PT] = Agente de Demonstração Geoclue
GenericName[pt] = Agente de Demonstração Geoclue
Icon = mark-location
Keywords = demo; geolocation; location; maps; simulation;
Keywords[ca] = demo; geolocalització; mapes; simulació; ubicació;
Keywords[de] = Demo; Geolokalisierung; Karten; Simulation; Standort;
Keywords[es] = geolocalización; manifestación; mapas; simulación; ubicación;
Keywords[fr] = démo; emplacement; géolocalisation; plans; simulation;
Keywords[it] = demo; geolocalizzazione; mappe; posizione; simulazione;
Keywords[nl] = demo; geolocatie; kaarten; plaats; simulatie;
Keywords[pt_BR] = demo; geolocalização; localização; mapa; mapas; simulação;
Keywords[pt_PT] = demonstração; geolocalização; localização; mapas; simulação;
Keywords[pt] = demonstração; geolocalização; localização; mapas; simulação;
Name = Geoclue Demo Agent
Name[ca] = Agent de Demostració de Geoclue
Name[de] = Geoclue Demo Agent
Name[es] = Agente de Demostración Geoclue
Name[fr] = Agent de Démonstration Geoclue
Name[it] = Agente Demo Geoclue
Name[nl] = Geoclue Demo Agent
Name[pt_BR] = Agente Demo do Geoclue
Name[pt_PT] = Agente de Demonstração Geoclue
Name[pt] = Agente de Demonstração Geoclue
StartupNotify = false
StartupWMClass = geoclue-2.0
Terminal = false
Type = Application
Version = 1.1