[Desktop Entry]
Categories = Accessories; KDE; Q; Utility; Utilities; 
Comment = Search like a Pro
Comment[ca] = Cerqueu com a un Pro
Comment[de] = Suche wie ein Profi
Comment[es] = Busca como un profesional
Comment[fr] = Recherchez comme un pro
Comment[it] = Cerca come un professionista
Comment[nl] = Zoek als een professional
Comment[pt] = Busca como um profissional
Comment[pt_BR] = Pesquise como um profissional
Comment[pt_PT] = Busca como um profissional
Exec = krunner
GenericName = Search Box
GenericName[ca] = Quadre de cerca
GenericName[de] = Suchbox
GenericName[es] = Caja de búsqeda
GenericName[fr] = Barre de recherche
GenericName[it] = Casella di ricerca
GenericName[nl] = Zoekvak
GenericName[pt] = Caixa de busca
GenericName[pt_BR] = Caixa de pesquisa
GenericName[pt_PT] = Caixa de busca
Icon = krunner
Keywords = browser; search; spotlight; utilities; web; 
Keywords[ca] = cerca; focus; navegador; spotlight; utilitats; web;
Keywords[de] = Browser; Dienstprogramme; Netz; Spotlight; Suche;
Keywords[es] = navegador; buscar; destacar; utilidades; web;
Keywords[fr] = chercher; les services publics; navigateur; spotlight; web;
Keywords[it] = browser; ricerca; spotlight; utilità; web;
Keywords[nl] = browser; nutsbedrijven; spotlight; web; zoeken;
Keywords[pt] = buscar; navegador; pesquisar; procurar; spotlight; web;
Keywords[pt_BR] = buscar; navegador; pesquisar; procurar; spotlight; web;
Keywords[pt_PT] = buscar; navegador; pesquisar; procurar; spotlight; web;
Name = Krunner
StartupNotify = true
StartupWMClass = krunner
Terminal = false
Type = Application
Version = 1.1