[Desktop Entry]
Version=1.1
Type=Application
Name=Klipper
GenericName=Clipboard Tool
Comment=A cut &amp; paste history utility
Icon=klipper
NotShowIn=KDE;
Exec=klipper
Actions=
Categories=Utility;
