[Desktop Entry]
Categories = Utility;
Comment = Search the file system
Comment[ca] = Cerqueu al sistema de fitxers
Comment[de] = Dateisystem durchsuchen
Comment[el] = Αναζήτηση στο σύστημα αρχείων
Comment[eo] = Serĉi la dosiersistemon
Comment[es] = Buscar en el sistema de archivos
Comment[fr] = Rechercher dans le système de fichiers
Comment[it] = Cerca nel file system
Comment[ja] = ファイルシステムを検索
Comment[nl] = Doorzoek het bestandssysteem
Comment[pt_BR] = Pesquisar no sistema de arquivos
Comment[pt] = Pesquisar o sistema de ficheiros
Comment[ru] = Поиск по файловой системе
Comment[uk] = Пошук у файловій системі
Exec = /usr/bin/catfish %f
GenericName = File search
GenericName[ca] = Cerca de fitxers
GenericName[de] = Dateisuche
GenericName[el] = Αναζήτηση αρχείου
GenericName[eo] = Dosierserĉilo
GenericName[es] = Búsqueda de archivos
GenericName[fr] = Recherche de fichiers
GenericName[it] = Ricerca file
GenericName[ja] = ファイル検索
GenericName[nl] = Bestanden zoeken
GenericName[pt_BR] = Pesquisar arquivo
GenericName[pt] = Pesquisa de ficheiros
GenericName[ru] = Поиск файлов
GenericName[uk] = Пошук файлів
Icon = catfish
Keywords = files; find; locate; lookup; search;
Keywords[ca] = buscar; cercar; fitxers; recerca;
Keywords[de] = auffinden; dateien; finden; nachschlagen; suchen;
Keywords[el] = lookup; αναζήτηση; αρχεία; εύρεση; τοποθέτηση;
Keywords[es] = archivos; buscar; búsqueda; encontrar; localizar;
Keywords[fr] = chercher; fichiers; localiser; rechercher; trouver;
Keywords[it] = cerca; file; individua; ricerca; trova;
Keywords[ja] = files; find; locate; lookup; search;
Keywords[nl] = bestanden; doorzoeken; opzoeken; vinden; zoeken;
Keywords[pt_BR] = arquivos;buscar;localizar;encontrar;pesquisar
Keywords[pt] = ficheiros;encontrar;localizar;procurar;pesquisar;
Keywords[ru] = files; find; locate; lookup; search; искать; найти; поиск; расположение; файлы;
Keywords[uk] = файли;пошук;розташування;знаходження;шукати;
MimeType = inode/directory;
Name = Catfish
StartupWMClass = catfish
Terminal = false
Type = Application
