[Desktop Entry]
Categories = Accessories; KDE; Qt; Utility;
Comment[ca] = Un canviador de noms per lots
Comment[de] = Mehrfachumbennungswerkzeug
Comment[el] = Μια εφαρμογή ομαδικής μετονομασίας
Comment[es] = Un cambiador de nombres por lotes
Comment[fr] = Un outil de renommage par lot
Comment[it] = Uno strumento di rinomina di massa
Comment[nl] = Een batch hulpmiddel voor hernoemen
Comment[pt] = Um utilitário de mudança de nomes de ficheiros em lote
Comment[pt_BR] = Uma ferrmaneta de mudança de nomes de arquivos de uma vez por todas
Comment[pt_PT] = Um utilitário de mudança de nomes de ficheiros em lote
Comment[uk] = Засіб для пакетного перейменовування
Comment = A batch renamer
Exec = krename -qwindowtitle "%c" %i %U
GenericName = Files renamer
GenericName[ca] = Renombrar fitxers
GenericName[de] = Dateien umbenennen
GenericName[es] = Renombrador de archivos
GenericName[fr] = Rénommeur des fichiers
GenericName[it] = Rinominatore di file
GenericName[nl] = Bestanden hernoemen
GenericName[pt] = Renomeador de ficheiros
GenericName[pt_BR] = Renomeador de arquivos
GenericName[pt_PT] = Renomeador de ficheiros
Icon = krename
Keywords = name; namer; rename; renamer;
Keywords[ca] = nombrar; renombrar;
Keywords[de] = nennen; umbenennen;
Keywords[es] = nombrador; nombrar; renombrador; renombrar;
Keywords[fr] = nommer; rénommer, rénommeur;
Keywords[it] = nominare, nominatore; rinominare; rinominatore;
Keywords[nl] = hernoemen; noemen;
Keywords[pt] = nomear; nomeador; renomear; renomeador;
Keywords[pt_BR] = nomear; nomeador; renomear; renomeador;
Keywords[pt_PT] = nomear; nomeador; renomear; renomeador;
Name = KRename
StartupNotify = true
StartupWMClass = krename
Terminal = false
Type = Application
Version = 1.1
X-DocPath = krename/index.html
