[Desktop Entry]
Categories = Accessories; Clipboard; Tools; Utility;
Comment = A cut and paste historic utility
Comment[ca] = Una utilitat d’història de tallar i enganxar
Comment[de] = Ein Dienstprogramm zum Ausschneiden und Einfügen
Comment[es] = Una utilidad de historial de cortar y pegar.
Comment[fr] = Un utilitaire d’historique de couper et coller
Comment[it] = Un’utilità di cronologia di tagliare e incollare
Comment[nl] = Een hulpprogramma van geschiedenis voor het knippen en plakken
Comment[pt] = Um utilitário de histórico de recortar e colar
Comment[pt_BR] = Um utilitário de histórico de recortar e colar
Comment[pt_PT] = Um utilitário de histórico de recortar e colar
Exec = klipper
GenericName = Clipboard Tool
GenericName[ca] = Utilitat de portapapers
GenericName[de] = Zwischenablage-Tool
GenericName[es] = Herramienta Portapapeles
GenericName[fr] = Outil presse-papier
GenericName[it] = Strumento per appunti
GenericName[nl] = Klembordtool
GenericName[pt] = Ferramenta de prancheta
GenericName[pt_BR] = Ferramenta de prancheta
GenericName[pt_PT] = Ferramenta de prancheta
Icon = klipper
Keywords = clipboard; copy; cut; paste; historic;
Keywords[ca] = còpia; enganxar; històric; porta-retalls; tallar;
Keywords[de] = ausschneiden; einfügen; historisch; kopieren; schneiden; Zwischenablage;
Keywords[es] = copiar; cortar; histórico; pegar; portapapeles;
Keywords[fr] = coller; copier; couper; historique; presse-papiers;
Keywords[it] = appunti; copiare; incollare; storico; tagliare;
Keywords[nl] = historische; klembord; knippen; kopiëren; plakken;
Keywords[pt] = colar; copiar; cortar; histórico; prancheta;
Keywords[pt_BR] = colar; copiar; cortar; histórico; prancheta;
Keywords[pt_PT] = colar; copiar; cortar; histórico; prancheta;
Name = Klipper
StartupNotify = true
StartupWMClass = klipper
Type = Application
Version = 1.1