[Desktop Entry]
Categories = Accessories; DesktopSettings; GNOME; GTK; Security; Utility; X-XFCE-SettingsDialog;
Comment[ca] = Gestioneu les contrasenyes i claus d’encriptació
Comment[de] = Verwalten Sie Ihre Passwörter und Schlüssel
Comment[el] = Διαχειριστείτε τους κωδικούς πρόσβασης και τα κλειδιά κρυπτογράφησης σας
Comment[eo] = Mastrumi viajn pasvortojn kaj ĉifrajn ŝlosilojn
Comment[es] = Administre sus claves y contraseñas de cifrado
Comment[eu] = Kudeatu pasahitzak eta zifratze-gakoak
Comment[fr] = Gérer vos mots de passe et vos clés de chiffrement
Comment[it] = Gestisce le proprie password e chiavi di cifratura
Comment[ja] = パスワードや暗号鍵を管理します
Comment[nl] = Uw encryptiesleutels en wachtwoorden beheren
Comment[pt_BR] = Gerenciar suas senhas e chaves de criptografia
Comment[pt] = Efetue a gestão das suas senhas e chaves de encriptação
Comment[ro] = Administează parolele și cheile de criptare
Comment[ru] = Управление паролями и ключами шифрования
Comment[uk] = Керування паролями та ключами шифрування
Comment = Manage your passwords and encryption keys
DBusActivatable = true
Exec = seahorse
GenericName = Passwords manager
GenericName[ca] = Gestor de contrasenyes
GenericName[de] = Passwort-Manager
GenericName[es] = Administrador de contraseñas
GenericName[fr] = Gestionnaire de mots de passe
GenericName[it] = Gestore delle password
GenericName[nl] = Wachtwoordenbeheerder
GenericName[pt_BR] = Gestor de senhas
GenericName[pt_PT] = Gestor de palavras-passe
GenericName[pt] = Gestor de palavras-passe
Icon = org.gnome.seahorse.Application
Keywords[ca] = anell de claus; encriptació; seguretat; signatura; ssh;
Keywords[de] = Schlüsselbund; Sicherheit; Signieren; SSH; Verschlüsselung;
Keywords[el] = encryption; keyring; security; sign; ssh; ασφάλεια; κλειδοθήκη; κρυπτογράφηση; υπογραφή;
Keywords[eo] = ĉifrado; ĉifro; sekureco; ŝlosilaro; ssh; subskribi;
Keywords[es] = cifrado; depósito de claves; firma; seguridad; ssh;
Keywords[eu] = gako-sorta; segurtasuna; sinadura; ssh; zifratzea;
Keywords[fr] = chiffrement; sécurité; signature; ssh; trousseau;
Keywords[it] = cifrare; cifratura; crittare; firma; firmare; portachiavi; sicurezza; ssh;
Keywords[ja] = encryption; gpg; keyring; pgp; security; sign; ssh; キーリング; サイン; セキュリティ; 暗号化; 署名; 鍵束;
Keywords[nl] = beveiliging; encryptie; sleutelbos; sleutelring; ssh; versleuteling;
Keywords[pt_BR] = assinar; chaveiro; criptografia; segurança; senhas; ssh;
Keywords[pt_PT] = assinar; chaveiro; encriptação; palavra-passe; segurança; ssh;
Keywords[pt] = assinar; chaveiro; encriptação; palavra-passe; segurança; ssh;
Keywords[ro] = criptare; encryption; inel de chei; keyring; securitate; security; semn; sign; ssh;
Keywords[ru] = ssh; безопасность; подпись; связка; шифрование;
Keywords[uk] = ssh; безпека; в’язка; підпис; шифрування;
Keywords = encryption; keyring; password; security; sign; ssh;
Name[ca] = GNOME Contrasenyes i claus
Name[de] = GNOME Passwörter und Verschlüsselung
Name[el] = GNOME Κωδικοί πρόσβασης και κλειδιά
Name[eo] = GNOME Pasvortoj kaj ŝlosiloj
Name[es] = GNOME Contraseñas y claves
Name[eu] = GNOME Pasahitzak eta gakoak
Name[fr] = GNOME Mots de passe et clés
Name[it] = GNOME Password e chiavi
Name[ja] = GNOME パスワードと鍵
Name[nl] = GNOME Wachtwoorden en sleutels
Name[pt_BR] = GNOME Senhas e chaves
Name[pt_PT] = GNOME Palavras-passe e chaves
Name[pt] = GNOME Palavras-passe e chaves
Name[ro] = GNOME Parole și chei
Name[ru] = GNOME Пароли и ключи
Name[uk] = GNOME Паролі й ключі
Name = GNOME Passwords and Keys
StartupNotify = true
StartupWMClass = seahorse
Terminal = false
Type = Application

