[Desktop Entry]
Categories = Accessories; Calculator; Education; GNOME; GTK; Maths; Science; Utility; Utilities;
Comment = Perform arithmetic, scientific or financial calculations
Comment[ca] = Realitzeu càlculs aritmètics, científics o financers
Comment[de] = Führe arithmetische, wissenschaftliche oder finanzielle Berechnungen durch
Comment[es] = Realize los cálculos aritméticos, científicos o financieros.
Comment[fr] = Faitez des calculs arithmétiques, scientifiques ou financiers
Comment[it] = Fai i calcoli aritmetici, scientifici o finanziari
Comment[nl] = Voer rekenkundige, wetenschappelijke of financiële berekeningen uit
Comment[pt] = Realiza cálculos aritméticos, científicos ou financeiros
Comment[pt_BR] = Realize os cálculos aritméticos, científicos ou financeiros
Comment[pt_PT] = Realiza cálculos aritméticos, científicos ou financeiros
Exec = gnome-calculator
GenericName = Advanced calculator
GenericName[ca] = Calculadora avançada
GenericName[de] = Fortgeschrittener Rechner
GenericName[es] = Calculadora avanzada
GenericName[fr] = Calculatrice avancée
GenericName[it] = Calcolatrice avanzata
GenericName[nl] = Geavanceerde rekenmachine
GenericName[pt] = Calculadora avançada
GenericName[pt_BR] = Calculadora avançada
GenericName[pt_PT] = Calculadora avançada
Icon = org.gnome.Calculator
Keywords = arithmetic; calculation; financial; scientific;
Keywords[ca] = aritmètica; científic; càlcul; financers;
Keywords[de] = Arithmetik; Berechnung; finanziell; wissenschaftlich;
Keywords[es] = aritmética; científico; cálculo; financiero;
Keywords[fr] = arithmétique; calcul; financier; scientifique;
Keywords[it] = aritmetica; calcolo; finanziario; scientifico;
Keywords[nl] = berekening; financiële; rekenkundig; wetenschappelijk;
Keywords[pt] = aritmética; científico; cálculo; financeiro;
Name = GNOME Calculator
Name[ca] = GNOME Calculadora
Name[de] = GNOME Rechner
Name[es] = GNOME Calculadora
Name[fr] = GNOME Calculatrice
Name[it] = GNOME Calcolatrice
Name[nl] = GNOME Rekenmachine
Name[pt] = GNOME Calculadora
Name[pt_BR] = GNOME Calculadora
Name[pt_PT] = GNOME Calculadora
StartupWMClass = gnome-calculator
StartupNotify = true
Type = Application
Version = 1.1