[Desktop Entry]
Categories = Accessories; Archiving; Compression; KDE; Qt; Utility; X-KDE-Utilities-File;
Comment[ca] = Treball amb arxius de fitxer
Comment[de] = Arbeiten mit Dateiarchiven
Comment[el] = Εργασία με αρχειοθήκες
Comment[es] = Trabajar con archivos comprimidos
Comment[eu] = Fitxategien artxiboekin lan egiteko
Comment[fr] = Travailler avec des archives
Comment[it] = Lavora con gli archivi di file
Comment[nl] = Mert bestandsarchieven werken
Comment[pt_BR] = Manipulação de arquivos compactados
Comment[pt] = Lidar com pacotes em ficheiros
Comment[ru] = Работа с архивами файлов
Comment[uk] = Робота з файловими архівами
Comment = Work with file archives
Exec = ark %U
GenericName[ca] = Eina d’arxivament
GenericName[de] = Archivprogramm
GenericName[el] = Εργαλείο αρχειοθέτησης
GenericName[eo] = Arkivilo
GenericName[es] = Archivador
GenericName[eu] = Artxibatzeko tresna
GenericName[fr] = Outil d’archivage
GenericName[it] = Strumento di archiviazione
GenericName[ja] = アーカイブツール
GenericName[nl] = Archiefgereedschap
GenericName[pt_BR] = Ferramenta de Arquivamento
GenericName[pt_PT] = Ferramenta de Armazenamento
GenericName[pt] = Ferramenta de Armazenamento
GenericName[ro] = Utilitar de arhivare
GenericName[ru] = Архиватор
GenericName[uk] = Засіб роботи з архівами
GenericName = Archiving Tool
Icon = ark
InitialPreference = 3
Keywords[ca] = desempaquetar; extreure; tar; zip;
Keywords[de] = entpacken; extrahieren; tar; zip;
Keywords[el] = extract; tar; unpack; zip; αποσυμπίεση; εξαγωγή;
Keywords[eo] = elpaki; eltiri; malkompaktigi; malpaki; tar; zip;
Keywords[es] = desempaquetar; extraer; tar; zip;
Keywords[eu] = deskonprimitu; erauzi; tar; zip;
Keywords[fr] = décompresser; extraire; tar; zip;
Keywords[it] = comprimere; decomprimere; estrarre; tar; zip; zippare;
Keywords[ja] = extract; tar; unpack; zip; アンパック; アーカイブ; 伸長; 圧縮; 展開; 解凍;
Keywords[ka] = extract; tar; unpack; zip;
Keywords[nl] = archiveren; comprimeren; extract; tar; uitpakken; unpack; zip;
Keywords[pt_BR] = descompactar; extrair; tar; zip;
Keywords[pt_PT] = desempacotar; extrair; tar; zip;
Keywords[pt] = desempacotar; extrair; tar; zip;
Keywords[ro] = arhivează; dezarhivează; extract; extrage; tar; unpack; zip;
Keywords[ru] = tar; zip; извлечь; распаковать;
Keywords[uk] = tar; zip; архів; розпакувати;
Keywords = extract; tar; unpack; zip;
MimeType = application/gzip; application/vnd.debian.binary-package; application/vnd.ms-cab-compressed; application/vnd.rar; application/x-7z-compressed; application/x-archive; application/x-bcpio; application/x-bzip; application/x-bzip-compressed-tar; application/x-cd-image; application/x-compress; application/x-compressed-tar; application/x-cpio; application/x-cpio-compressed; application/x-deb; application/x-iso9660-appimage; application/x-java-archive; application/x-lrzip-compressed-tar; application/x-lz4-compressed-tar; application/x-lzip-compressed-tar; application/x-lzma; application/x-lzma-compressed-tar; application/x-rar; application/x-rpm; application/x-source-rpm; application/x-sv4cpio; application/x-sv4crc; application/x-tar; application/x-tarz; application/x-tzo; application/x-xar; application/x-xz; application/x-xz-compressed-tar; application/x-zstd-compressed-tar; application/zip;
Name = Ark
StartupWMClass = ark
StartupNotify = true
Terminal = false
Type = Application
Version = 1.1
X-DBUS-ServiceName = org.kde.ark
X-DBUS-StartupType = Multi
X-DocPath = ark/index.html
