[Desktop Entry]
Categories = Accessories; Geography; Utility;
Comment = A simple maps application
Comment[ca] = Una aplicació de mapes simple
Comment[de] = Eine einfache Kartenanwendung
Comment[es] = Una aplicación de mapas sencilla.
Comment[fr] = Une application de cartes simple
Comment[it] = Una semplice applicazione per mappe
Comment[nl] = Een eenvoudige kaartapplicatie
Comment[pt] = Uma aplicação simples de mapas
Comment[pt_BR] = Um aplicativo simples de mapas
Comment[pt_PT] = Uma aplicação simples de mapas
DBusActivatable = true
Exec = gapplication launch org.gnome.Maps %U
Icon = org.gnome.Maps
GenericName = Maps
GenericName[ca] = Mapes
GenericName[de] = Karten
GenericName[es] = Mapas
GenericName[fr] = Cartes géographiques
GenericName[it] = Mappe
GenericName[nl] = Kaart
GenericName[pt] = Mapas
GenericName[pt_BR] = Mapas
GenericName[pt_PT] = Mapas
Keywords = geolocation; maps;
Keywords[ca] = geolocalització, mapes;
Keywords[de] = Geolokalisierung; Karten;
Keywords[es] = geolocalitzación; mapas;
Keywords[fr] = cartes; cartes géographiques; géolocalisation;
Keywords[it] = geolocalizzazione; mapes;
Keywords[nl] = geolocatie; kaartl kaarten; karten;
Keywords[pt] = geolocalização; mapas;
Keywords[pt_BR] = geolocalização; mapas;
Keywords[pt_PT] = geolocalização; mapas;
MimeType = application/gpx+xml; application/vnd.geo+json; application/vnd.google-earth.kml+xml; x-scheme-handler/geo;
Name = GNOME Maps
Name[ca] = GNOME Mapes
Name[de] = GNOME Karten
Name[es] = GNOME Mapas
Name[fr] = GNOME Cartes Géographiques
Name[it] = GNOME Mappe
Name[nl] = GNOME Kaarten
Name[pt_BR] = GNOME Mapas
Name[pt_PT] = GNOME Mapas
Name[pt] = GNOME Mapas
StartupNotify = true
StartupWMClass = org.gnome.Maps
Type = Application
Version = 1.1