[Desktop Entry]
Categories = GNOME; GTK;
Comment[ca] = Configureu les extensions del GNOME Shell
Comment[de] = GNOME-Shell-Erweiterungen einrichten
Comment[el] = Ρύθμιση επεκτάσεων του GNOME Shell
Comment[eo] = Agordi GNOME-ŝelajn kromprogramojn
Comment[es] = Configurar las extensiones de GNOME Shell
Comment[eu] = Konfiguratu GNOME Shell-eko gehigarriak
Comment[fr] = Configurer les extensions Shell de GNOME
Comment[it] = Configura le estensioni di GNOME Shell
Comment[ja] = GNOME Shell 拡張機能の設定を行います
Comment[nl] = Gnome Shell-uitbreidingen configureren
Comment[pt_BR] = Configurar extensões do Shell do GNOME
Comment[pt] = Configurar extensões à interface GNOME
Comment[ro] = Configurarea extensiilor pentru Vizualizatorul activităților GNOME
Comment[ru] = Настроить расширения GNOME Shell
Comment[uk] = Налаштувати розширення GNOME Shell
Comment = Configure GNOME Shell Extensions
Exec = /usr/bin/gnome-shell-extension-prefs %u
Icon = gnome-shell-extension-prefs
Name[ca] = Extensions del Shell
Name[de] = Shell-Erweiterungen
Name[el] = Επεκτάσεις κελύφους
Name[eo] = Ŝelaj kromprogramoj
Name[es] = Extensiones de la Shell
Name[eu] = Shell-en hedapenak
Name[fr] = Extensions Shell
Name[it] = Estensioni della Shell
Name[ja] = Shell 拡張機能
Name[nl] = Shell-uitbreidingen
Name[pt_BR] = Extensões do shell
Name[ro] = Extensii pentru vizualizatorul activităților
Name[ru] = Расширения GNOME Shell
Name[uk] = Розширення оболонки
Name = GNOME Shell Extensions
NoDisplay = true
OnlyShowIn = GNOME;
Type = Application
X-GNOME-Bugzilla-Bugzilla = GNOME
X-GNOME-Bugzilla-Component = extensions
X-GNOME-Bugzilla-Product = gnome-shell
X-GNOME-Bugzilla-Version = 3.32.1
