[Desktop Entry]
Categories = Utility;
Comment = View device status, ink levels and perform maintenance.
Encoding = UTF-8
Exec = hp-toolbox
GenericName = Printer Management Application
Icon = hp-toolbox
Name = HP Device Manager
StartupNotify = false
Terminal = false
Type = Application
X-KDE-StartupNotify = false
