[Desktop Entry]
Categories = Graphics; Photography;
Comment[de] = Kurze GIF-Animationen vom Bildschirm aufnehmen
Comment[eo] = Registri mallongajn GIF-movbildojn de via ekrano
Comment[es] = Graba pequeños gifs animados de tu pantalla
Comment[eu] = Grabatu zure pantailaren gif animatu txikiak
Comment[fr] = Enregistrer des courtes images GIF animés de votre écran
Comment[it] = Registra piccole animazioni GIF dal tuo schermo
Comment[nl] = Korte bewegende GIF-afbeeldingen opnemen van uw scherm
Comment[pt_BR] = Grave pequenas GIFs animadas a partir da sua tela
Comment[pt_PT] = Grava uma curta animação de imagens GIF a partir do ecrã
Comment[pt] = Grava uma curta animação de imagens GIF a partir do ecrã
Comment[ru] = Записывайте короткие анимированные GIF со своего экрана
Comment[uk] = Запис коротких анімованих GIF зображень з екрану
Comment = Record short animated GIF images from your screen
DBusActivatable = true
Exec = peek
GenericName[ca] = Enregistrador de GIF animats
GenericName[de] = Aufnahme von GIF-Animationen
GenericName[eo] = GIF-movbilda registrilo
GenericName[es] = Grabador de GIF animados
GenericName[eu] = GIF animatuen grabagailua
GenericName[fr] = Enregistreur de GIF animés
GenericName[it] = Registratore di GIF animate
GenericName[nl] = Bewegende GIF-opname
GenericName[pt_BR] = Gravador de GIF animado
GenericName[pt_PT] = Gravador de GIF animado
GenericName[ru] = Съёмка анимированных GIF
GenericName[uk] = Записувач GIF анімації
GenericName = Animated GIF recorder
Icon = com.uploadedlobster.peek
Keywords[de] = APNG; Bildschirmaufnahme; GIF; WebM; screen recorder; screencast;
Keywords[eo] = APNG; GIF; WebM; ekrana registrilo; ekranregistrado;
Keywords[eu] = APNG; GIF; WebM; pantaila grabagailua; pantaila grabazioa; pantaila kaptura;
Keywords[fr] = APNG; GIF; WebM; screen capture; screen recorder;
Keywords[nl] = APNG; GIF; WebM; schermopname; screencast; vastleggen;
Keywords[ru] = APNG; GIF; WebM; screen capture; screen recorder; screencast;
Keywords = APNG; GIF; WebM; screen capture; screen recorder; screencast;
Name = Peek
StartupNotify = true
StartupWMClass = peek
Terminal = false
Type = Application
