[Desktop Entry]
Categories = GNOME; Utilities;
Comment[af] = Kontroleer gidsgroottes en beskikbare skyfspasie
Comment[ca] = Comprova la mida de les carpetes i l’espai disponible al disc
Comment[de] = Ordnergrößen und freien Festplattenplatz analysieren
Comment[el] = Έλεγχος μεγέθους φακέλων και διαθέσιμου χώρου στο δίσκο
Comment[eo] = Kontroli dosierujajn grandojn kaj disponeblan diskmemoron
Comment[es] = Compruebe el tamaño de las carpetas y el espacio disponible en disco
Comment[eu] = Egiaztatu karpeten tamainak eta diskoan dagoen leku erabilgarria
Comment[it] = Controlla la dimensione delle cartelle e lo spazio disco disponibile
Comment[ja] = フォルダーと利用可能なディスク容量をチェックします
Comment[nl] = Mapgroottes en beschikbare schijfruimte bekijken
Comment[pt_BR] = Verifique o tamanho de pastas e o espaço disponível em disco
Comment[pt] = Verificar o tamanho das pastas e o espaço disponível em disco
Comment[ro] = Verifică dimensiunea dosarului și spațiul disponibil pe disc
Comment[ru] = Изучение размера папок и свободного места на дисках
Comment = Check folder sizes and available disk space
DBusActivatable = true
Exec = baobab
Icon = org.gnome.baobab
Name = Disk Usage Analyzer
Keywords = cleanup; space; storage;
Keywords[ca] = emmagatzemament; emmagatzematge; espai; neteja;
Keywords[de] = Aufräumen; Belegung; Frei; Kapazität; Speicherplatz;
Keywords[el] = cleanup; space; storage; αποθήκευση; καθαρισμός; χώρος;
Keywords[eo] = diskospaco; purigi; senrubigi; spaco;
Keywords[es] = almacenamiento; espacio; limpieza;
Keywords[eu] = biltegia; garbitu; lekua;
Keywords[fr] = espace disque; nettoyage; stockage;
Keywords[it] = archiviazione;spazio;pulizia;
Keywords[ja] = cleanup; space; storage; クリーンアップ; ストレージ; スペース; 使用量; 容量; 空間;
Keywords[pt_BR] = armazenamento; espaço; limpeza;
Keywords[pt] = armazenamento; espaço; limpar;
Keywords[ro] = cleanup; curăță; depozitare; space; spațiu; stocare; storage;
Keywords[ru] = накопитель; очистка; пространство;
Name[ca] = Analitzador de l’ús dels discs
Name[de] = Festplattenbelegungsanalyse
Name[el] = Αναλυτής χρήσης δίσκου
Name[en_GB] = Disk Usage Analyser
Name[eo] = Diskuzada analizilo
Name[es] = Analizador de uso de disco
Name[eu] = Disko-erabileraren analizatzailea
Name[fr] = Analyseur d’utilisation des disques
Name[it] = Analizzatore di utilizzo del disco
Name[ja] = ディスク使用量アナライザー
Name[nl] = Schijfgebruik
Name[pt_BR] = Analisador de uso de disco
Name[pt] = Analisador de utilização do disco
Name[ro] = Analizatorul utilizării discului
Name[ru] = Анализатор использования дисков
StartupWMClass = baobab
StartupNotify = true
Terminal = false
TryExec = baobab
Type = Application
X-GNOME-UsesNotifications = true
