[Desktop Entry]
Version=1.1
Type=Application
Name=Online Accounts
Comment=Connect to your online accounts and decide what to use them for
Icon=goa-panel
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center online-accounts
Actions=
Categories=DesktopSettings;GNOME;GTK;Settings;SystemSettings;X-GNOME-AccountSettings;X-GNOME-Settings-Panel;
Keywords=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
StartupNotify=true
