[Desktop Entry]
Version=1.1
Type=Application
Name=Bluetooth
Comment=Turn Bluetooth on and off and connect your devices
Icon=bluetooth
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center bluetooth
Actions=
Categories=GNOME;GTK;HardwareSettings;Settings;SystemSettings;X-GNOME-ConnectivitySettings;X-GNOME-NetworkSettings;X-GNOME-Settings-Panel;
Keywords=share;sharing;bluetooth;obex;
StartupNotify=true
