[Desktop Entry]
Comment[ca] = Munteu imatges de disc
Comment[de] = Laufwerksabbilder einhängen
Comment[el] = Προσαρτήστε εικόνες δίσκων
Comment[eo] = Surmeti diskokopiojn
Comment[es] = Montar imágenes de discos
Comment[eu] = Muntatu disko-irudia
Comment[fr] = Monter les images disque
Comment[it] = Monta immagini disco
Comment[ja] = ディスクイメージをマウントします
Comment[nl] = Schijfkopie aankoppelen
Comment[pt_BR] = Monte imagens de disco
Comment[pt] = Montar imagens de disco
Comment[ro] = Montează imaginile de disc
Comment[ru] = Монтирует дисковые образы
Comment = Mount Disk Images
Exec = gnome-disk-image-mounter %U
GenericName[ca] = Muntador d’imatges de disc
GenericName[de] = Einhängen von Laufwerksabbildern
GenericName[el] = Προσάρτηση εικόνας δίσκων
GenericName[eo] = Diskokopia surmetilo
GenericName[es] = Montador de imágenes de discos
GenericName[eu] = Disko-irudien muntatzailea
GenericName[fr] = Monteur d’images disque
GenericName[it] = Monta immagini disco
GenericName[ja] = ディスクイメージマウンター
GenericName[nl] = Schijfkopiekoppelaar
GenericName[pt_BR] = Montador de imagem de disco
GenericName[pt_PT] = Montador de imagens de disco
GenericName[pt] = Montador de imagens de disco
GenericName[ro] = Montator de imagini de disc
GenericName[ru] = Монтирование дискового образа
GenericName[uk] = Монтування образів диска
GenericName = Disk Image Mounter
Icon = drive-removable-media
MimeType = application/x-cd-image; application/x-raw-disk-image;
Name[ca] = Muntador d’imatges de disc
Name[de] = Einhängen von Laufwerksabbildern
Name[el] = Προσάρτηση εικόνας δίσκων
Name[eo] = Diskokopia surmetilo
Name[es] = Montador de imágenes de discos
Name[eu] = Disko-irudien muntatzailea
Name[fr] = Monteur d’images disque
Name[it] = Monta immagini disco
Name[ja] = ディスクイメージマウンター
Name[nl] = Schijfkopiekoppelaar
Name[pt_BR] = Montador de imagem de disco
Name[pt_PT] = Montador de imagens de disco
Name[pt] = Montador de imagens de disco
Name[ro] = Montator de imagini de disc
Name[ru] = Монтирование дискового образа
Name[uk] = Монтування образів диска
Name = Disk Image Mounter
# NoDisplay = true
StartupNotify = true
StartupWMClass = gnome-disk-image-mounter
Terminal = false
Type = Application
Version = 1.1
