[Desktop Entry]
Categories = GNOME; GTK; System;
Exec = gnome-control-center
Icon = org.gnome.Settings
Keywords[ca] = Paràmetres; Preferències;
Keywords[de] = Einstellungen;
Keywords[el] = Preferences; Settings; Προτιμήσεις; Ρυθμίσεις;
Keywords[eo] = Agordoj; Preferoj;
Keywords[es] = Configuración; Preferencias;
Keywords[eu] = Ezarpenak; Hobespenak;
Keywords[fr] = Paramètres; Préférences; Réglages;
Keywords[it] = Impostazioni; Preferenze;
Keywords[ja] = Preferences; Settings; 設定;
Keywords[nl] = Instellingen; Preferences; Settings; Voorkeuren;
Keywords[pt_BR] = Ajustes; Configurações; Preferências;
Keywords[pt_PT] = Definições; Preferências;
Keywords[pt] = Definições; Preferências;
Keywords[ro] = Configurări; Preferences; Preferințe; Settings;
Keywords[ru] = Настройки; Параметры;
Keywords[uk] = Налаштування; Параметри;
Keywords = Preferences; Settings;
Name[ca] = GNOME Paràmetres
Name[de] = GNOME Einstellungen
Name[el] = GNOME Ρυθμίσεις
Name[eo] = GNOME Agordoj
Name[es] = GNOME Configuración
Name[eu] = GNOME Ezarpenak
Name[fr] = GNOME Paramètres
Name[it] = GNOME Impostazioni
Name[ja] = GNOME 設定
Name[nl] = GNOME Instellingen
Name[pt_BR] = GNOME Configurações
Name[pt_PT] = GNOME Configurações
Name[pt] = GNOME Definições
Name[ro] = GNOME Configurări
Name[ru] = GNOME Параметры
Name[uk] = GNOME Параметри
Name = GNOME Settings
# OnlyShowIn = GNOME; Unity;
StartupNotify = true
StartupWMClass = gnome-control-center
Terminal = false
Type = Application
Version = 1.1
X-GNOME-Bugzilla-Bugzilla = GNOME
X-GNOME-Bugzilla-Component = shell
X-GNOME-Bugzilla-Product = gnome-control-center
X-GNOME-Bugzilla-Version = 3.32.1
