[Desktop Entry]
Comment[ca] = Escriu imatges de disc a dispositius
Comment[de] = Laufwerksabbilder auf Geräte schreiben
Comment[el] = Γράψτε εικόνες δίσκων σε συσκευές
Comment[eo] = Skribi diskokopiojn al aparatoj
Comment[es] = Escribir imágenes de disco a dispositivos
Comment[eu] = Idatzi disko-irudia gailuetan
Comment[fr] = Enregistre les images disque sur les périphériques
Comment[it] = Scrive immagine disco su dispositivi
Comment[ja] = ディスクイメージをデバイスに書き込みます
Comment[nl] = Schijfkopieën naar apparaten schrijven
Comment[pt_BR] = Grave imagens de disco para dispositivos
Comment[pt_PT] = Gravar imagens de disco em dispositivos
Comment[pt] = Gravar imagens de disco em dispositivos
Comment[ro] = Scrie imagini de disc pe dispozitive
Comment[ru] = Запись дисковых образов на устройства
Comment = Write Disk Images to Devices
Exec = gnome-disks --restore-disk-image %U
Icon = drive-removable-media
MimeType = application/x-cd-image; application/x-raw-disk-image; application/x-raw-disk-image-xz-compressed;
Name[ca] = Escriptor d’imatges de disc
Name[de] = Schreiber von Laufwerksabbildern
Name[el] = Πρόγραμμα εγγραφής εικόνας δίσκου
Name[eo] = Diskokopia skribilo
Name[es] = Escritor de imágenes de disco
Name[eu] = Disko-irudien idazlea
Name[fr] = Enregistreur d’images disque
Name[it] = Creazione immagini disco
Name[ja] = ディスクイメージライター
Name[nl] = Schijfkopieschrijver
Name[pt_BR] = Gravador de imagem de disco
Name[pt_PT] = Gravador de imagens de disco
Name[pt] = Gravador de imagens de disco
Name[ro] = Scriitor de imagini de disc
Name[ru] = Запись дискового образа
Name = Disk Image Writer
# NoDisplay = true
StartupNotify = false
Terminal = false
Type = Application
