[Desktop Entry]
Version=1.1
Type=Application
Name=Colour
Comment=Calibrate the colour of your devices, such as displays, cameras or printers
Icon=preferences-color
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center color
Actions=
Categories=GNOME;GTK;HardwareSettings;Settings;SystemSettings;X-GNOME-DevicesSettings;X-GNOME-Settings-Panel;
Keywords=Colour;ICC;Profile;Calibrate;Printer;Display;
StartupNotify=true
