[Desktop Entry]
DBusActivatable = true
Exec = gapplication launch org.gnome.Shell.PortalHelper
Icon = network-workgroup
Name[ca] = Inici de sessió de xarxa
Name[de] = Netzwerkanmeldung
Name[el] = Σύνδεση δικτύου
Name[eo] = Reta saluto
Name[es] = Inicio de sesión de la red
Name[eu] = Sareko saio-hasiera
Name[fr] = Identification réseau
Name[it] = Accesso di rete
Name[ja] = ネットワークログイン
Name[nl] = Netwerkaanmelding
Name[pt_BR] = Sessão de Rede
Name[pt] = Sessão na rede
Name[ro] = Logare prin rețea
Name[ru] = Сетевая авторизация
Name[uk] = Мережевий вхід
Name = Network Login
NoDisplay = true
OnlyShowIn = GNOME;
StartupNotify = true
Type = Application
