[Desktop Entry]
Categories = Core; GNOME; GTK;
Comment = Window management and application launching
Comment[ca] = Gestor de finestres i llançador d’aplicacions
Comment[de] = Fenster verwalten und Anwendungen starten
Comment[el] = Διαχείριση παραθύρων και εκκίνηση εφαρμογών
Comment[eo] = Fenestroadministrado kaj aplikaĵo-lanĉado
Comment[es] = Gestión de ventanas e inicio de aplicaciones
Comment[eu] = Leiho-kudeaketa eta aplikazioak abiaraztea
Comment[fr] = Gestion des fenêtres et lancement des applications
Comment[it] = Gestione finestre e avvio applicazioni
Comment[ja] = ウィンドウ管理とアプリケーションの起動
Comment[nl] = Vensterbeheer en toepassingen starten
Comment[pt_BR] = Gerenciamento de janelas e lançador de aplicativos
Comment[pt] = Gestão de janelas e iniciação de aplicações
Comment[ro] = Administrare de ferestre și lansare de aplicații
Comment[ru] = Управление окнами и запуск приложений
Comment[uk] = Керування вікнами та запуск програм
Exec = /usr/bin/gnome-shell
Icon = gnome-shell
Name = GNOME Shell
Name[pt] = Shell GNOME
Name[ro] = Vizualizatorul activităților GNOME
NoDisplay = true
OnlyShowIn = GNOME;
Type = Application
X-GNOME-AutoRestart = false
X-GNOME-Autostart-Notify = true
X-GNOME-Autostart-Phase = DisplayServer
X-GNOME-Bugzilla-Bugzilla = GNOME
X-GNOME-Bugzilla-Component = general
X-GNOME-Bugzilla-Product = gnome-shell
X-GNOME-Bugzilla-Version = 3.32.1
X-GNOME-Provides = panel; windowmanager;
