[Desktop Entry]
Categories = GNOME; GTK; Internet; System;
Comment[ca] = Exploreu si hi ha disponibles serveis Zeroconf a la vostra xarxa
Comment[cs] = Procházet Zeroconf služeby dostupné na síti
Comment[de] = Durchsuchen nach Zeroconf-aktivierten Diensten in Ihrem Netzwerk
Comment[el] = Εξερεύνηση υπηρεσιών Zeroconf που είναι διαθέσιμες στο δίκτυό σας
Comment[es] = Navegar en busca de servicios Zeroconf disponibles en su red
Comment[fr] = Explorer les services Zeroconf disponibles sur votre réseau
Comment[it] = Esplora i servizi Zeroconf disponibili sulla propria rete
Comment[ja] = ネットワーク上の利用可能な Zeroconf サービスを検索
Comment[nl] = Browse voor Zeroconf services beschikbaar op jouw netwerk
Comment[pt_BR] = Procurar por serviços Zeroconf disponíveis em sua rede
Comment[pt_PT] = Buscar por serviços Zeroconf disponíveis em sua rede
Comment[pt] = Buscar por serviços Zeroconf disponíveis em sua rede
Comment[ro] = Descoperă serviciile Zeroconf disponibile în rețeaua dumneavoastră.
Comment[ru] = Поиск служб Zeroconf в локальной сети
Comment[uk] = Переглянути служби Zeroconf, доступ до яких можна отримати у вашій мережі
Comment = Browse for Zeroconf services available on your network
Exec = /usr/bin/avahi-discover
GenericName = Zeroconf Browser
GenericName[ca] = Exploració de Zeroconf
GenericName[de] = Zeroconf Browser
GenericName[el] = Περιηγητής Zeroconf
GenericName[es] = Navegador Zeroconf
GenericName[fr] = Explorateur Zeroconf
GenericName[it] = Esploratore Zeroconf
GenericName[ja] = Zeroconf ブラウザ
GenericName[nl] = Zeroconf Browser
GenericName[pt] = Navegador Zeroconf
GenericName[pt_BR] = Navegador Zeroconf
GenericName[pt_PT] = Navegador Zeroconf
Icon = wifi
Keywords[ca] = avahi; exploració; internet; wifi; wi-fi; zeroconf;
Keywords[de] = avahi; Browser; Internet; Wifi; Wi-fi; zeroconf;
Keywords[el] = avahi; browser; internet; wifi; wi-fi; zeroconf; περιηγητής;
Keywords[es] = avahi; internet; navegador; wifi; wi-fi; zeroconf;
Keywords[fr] = avahi; explorateur; internet; wi-fi; wifi; zeroconf;
Keywords[it] = avahi; esploratore; internet; wifi; wi-fi; zeroconf;
Keywords[ja] = avahi; internet; wifi; wi-fi; zeroconf; ブラウザ;
Keywords[nl] = avahi; browser; internet; wifi; wi-fi; zeroconf;
Keywords[pt] = avahi; explorador; internet; navegador; wifi; wi-fi; zeroconf;
Keywords[pt_BR] = avahi; explorador; internet; navegador; wifi; wi-fi; zeroconf;
Keywords[pt_PT] = avahi; explorador; internet; navegador; wifi; wi-fi; zeroconf;
Keywords[ru] = avahi; browser; internet; wifi; wi-fi; zeroconf;
Keywords = avahi; browser; internet; wifi; wi-fi; zeroconf;
Name[ca] = Eina d’exploració de Zeroconf de l’Avahi
Name[de] = Avahi Zeroconf Browser
Name[el] = Περιηγητής Avahi Zeroconf
Name[es] = Navegador Zeroconf de Avahi
Name[fr] = Explorateur Zeroconf d’Avahi
Name[it] = Esploratore Zeroconf Avahi
Name[ja] = Avahi Zeroconf ブラウザ
Name[nl] = Avahi Zeroconf Browser
Name[pt_BR] = Navegador Zeroconf do Avahi
Name[pt_PT] = Navegador Zeroconf do Avahi
Name[pt] = Navegador Zeroconf do Avahi
Name[ro] = Navigator Avahi Zeroconf
Name[ru] = Обозреватель Avahi Zeroconf
Name[uk] = Переглядач Zeroconf Avahi
Name = Avahi Zeroconf Browser
StartupNotify = false
Terminal = false
Type = Application
Version = 1.1
