[Desktop Entry]
Categories = GNOME; GTK; Internet; Network;
Comment[ca] = Exploreu si hi ha servidors de VNC amb Zeroconf habilitat
Comment[de] = Durchsuchen nach Zeroconf-aktivierten VNC-Servern
Comment[el] = Εξερεύνηση για εξυπηρετητές VNC με ενεργοποιημένο Zeroconf
Comment[es] = Examinar servidores VNC con zeroconf activado
Comment[fr] = Explorer les serveurs VNC avec Zeroconf activé
Comment[it] = Esplora i server VNC con Zeroconf abilitato
Comment[ja] = Zeroconf を有効にした VNC サーバを検索
Comment[nl] = Browse voor Zeroconf-enabled VNC servers
Comment[pt_BR] = Procurar por servidores VNC com Zeroconf habilitado
Comment[pt_PT] = Procurar por servidores VNC com Zeroconf habilitado
Comment[pt] = Procurar por servidores VNC com Zeroconf habilitado
Comment[ro] = Navigheză serverele VNC având activat Zeroconf
Comment[ru] = Просмотр списка серверов VNC с включённой службой Zeroconf
Comment[uk] = Перегляд серверів VNC з увімкненим Zeroconf
Comment = Browse for Zeroconf-enabled VNC Servers
Exec = /usr/bin/bvnc
Keywords[ca] = avahi; exploració; internet; server; servers; servidor; servidors; ssh; SSH; VNC; wifi; wi-fi; zeroconf;
Keywords[de] = avahi; Browser; Internet; Server; ssh; SSH; VNC; Wifi; Wi-fi; zeroconf;
Keywords[el] = avahi; browser; internet; server; ssh; SSH; VNC; wi-fi; wifi; zeroconf; εξυπηρετητές; εξυπηρετητή; περιηγητής;
Keywords[es] = avahi; internet; navegador; servidor; servidores; VNC; wifi; wi-fi; zeroconf;
Keywords[fr] = avahi; explorateur; internet; serveur; serveurs; ssh; SSH; VNC; wi-fi; wifi; zeroconf;
Keywords[it] = avahi; esploratore; internet; server; ssh; SSH; VNC; wifi; wi-fi; zeroconf;
Keywords[ja] = avahi; internet; server; servers; ssh; SSH; VNC; wi-fi; wifi; zeroconf; サーバ; サーバー; ブラウザ; 検索;
Keywords[nl] = avahi; browser; internet; server; servers; ssh; SSH; VNC; wifi; wi-fi; zeroconf;
Keywords[pt] = avahi; explorador; internet; navegador; servidor; servidores; ssh; SSH; VNC; wifi; wi-fi; zeroconf;
Keywords[pt_BR] = avahi; explorador; internet; navegador; servidor; servidores; ssh; SSH; VNC; wifi; wi-fi; zeroconf;
Keywords[pt_PT] = avahi; explorador; internet; navegador; servidor; servidores; ssh; SSH; VNC; wifi; wi-fi; zeroconf;
Keywords[ro] = avahi; internet; navigator; navighează; servere; ssh; SSH; VNC; wifi; wi-fi; zeroconf;
Keywords[ru] = avahi; browser; internet; server; servers; ssh; SSH; VNC; wi-fi; wifi; zeroconf; сервер; серверам;
Keywords[uk] = avahi; browser; internet; server; servers; ssh; SSH; VNC; wi-fi; wifi; zeroconf; сервер; серверів;
Keywords = avahi; browser; internet; wifi; wi-fi; zeroconf;
Icon = wifi
Name[ca] = Eina d’exploració de servidors de VNC de l’Avahi
Name[de] = Avahi VNC-Server-Browser
Name[el] = Avahi περιηγητής εξυπηρετητών VNC
Name[es] = Examinador de servidores VNC de Avahi
Name[fr] = Explorateur de serveurs VNC Avahi 
Name[it] = Esploratore Avahi per server VNC
Name[ja] = Avahi VNC サーバの検索
Name[nl] = Avahi VNC server browser
Name[pt_BR] = Navegador de servidores VNC do Avahi
Name[pt_PT] = Navegador de servidores VNC do Avahi
Name[pt] = Navegador de servidores VNC do Avahi
Name[ro] = Navigator Avahi de server VNC
Name[ru] = Навигатор Avahi по серверам VNC
Name[uk] = Переглядач серверів VNC Avahi
Name = Avahi VNC Server Browser
StartupNotify = false
Terminal = false
Type = Application
Version = 1.1
