[Desktop Entry]
Actions = new-private-window; new-window;
Categories = Internet; Network; WebBrowser;
Comment[ca] = Accedeix a Internet
Comment[de] = Internetzugriff
Comment[el] = Πρόσβαση στο Διαδίκτυο
Comment[es] = Accede a Internet.
Comment[fr] = Accéder à Internet
Comment[it] = Accesso a Internet
Comment[ja] = インターネットにアクセス
Comment[nl] = Verbinding maken met internet
Comment[pt_BR] = Acessar a internet
Comment[pt_PT] = Aceder à Internet
Comment[pt] = Aceder à Internet
Comment[ro] = Accesaţi Internetul
Comment[ru] = Доступ в Интернет
Comment[uk] = Доступ до Інтернету
Comment = Access the Internet
Exec = /usr/bin/chromium %U
GenericName[ca] = Navegador web
GenericName[de] = Web-Browser
GenericName[el] = Περιηγητής ιστού
GenericName[es] = Navegador web
GenericName[fr] = Navigateur Web
GenericName[it] = Browser Web
GenericName[ja] = ウェブブラウザ
GenericName[nl] = Webbrowser
GenericName[pt_BR] = Navegador da Internet
GenericName[pt_PT] = Navegador Web
GenericName[pt] = Navegador Web
GenericName[ro] = Navigator de Internet
GenericName[ru] = Веб-браузер
GenericName[uk] = Навігатор Тенет
GenericName = Web Browser
Icon = chromium
MimeType = application/xhtml_xml; image/webp; inode/directory; text/html; text/xml; x-scheme-handler/ftp; x-scheme-handler/http; x-scheme-handler/https;
Name = Google Chromium
StartupNotify = true
StartupWMClass = chromium
Terminal = false
Type = Application
Version = 1.1

[Desktop Action new-window]
Name = New Window
Name[ca] = Finestra nova
Name[de] = Neues Fenster
Name[el] = Νέο Παράθυρο
Name[es] = Nueva ventana
Name[fr] = Nouvelle fenêtre
Name[it] = Nuova finestra
Name[ja] = 新規ウインドウ
Name[nl] = Nieuw venster
Name[no] = Nytt vindu
Name[pt] = Nova janela
Name[pt_BR] = Nova janela
Name[pt_PT] = Nova janela
Name[ro] = Fereastră nouă
Name[ru] = Новое окно
Name[uk] = Нове вікно
Exec = /usr/bin/chromium

[Desktop Action new-private-window]
Name = New Incognito Window
Name[ca] = Finestra d’incògnit nova
Name[de] = Neues Inkognito-Fenster
Name[el] = Νέο παράθυρο για ανώνυμη περιήγηση
Name[es] = Nueva ventana de incógnito
Name[fr] = Nouvelle fenêtre de navigation privée
Name[it] = Nuova finestra di navigazione in incognito
Name[ja] = 新しいシークレット ウィンドウ
Name[nl] = Nieuw incognitovenster
Name[pt] = Nova janela de navegação anónima
Name[pt_PT] = Nova janela de navegação anónima
Name[pt_BR] = Nova janela anônima
Name[ro] = Fereastră nouă incognito
Name[ru] = Новое окно в режиме инкогнито
Name[uk] = Нове вікно в режимі анонімного перегляду
Exec = /usr/bin/chromium --incognito
