[Desktop Entry]
Categories = Internet; Network;
Comment = Launch and sync the files of Google Drive with Insync
Comment[ca] = Inicieu i sincronitzeu fitxers de Google Drive amb Insync
Comment[de] = Starte und synchronisiere Dateien aus Google Drive mit Insync
Comment[es] = Ejecuta y sincroniza archivos del Google Drive con Insync
Comment[fr] = Lancez et synchronisez des fichiers du Google Drive avec Insync
Comment[it] = Avvia e sincronizza i file del Google Drive con Insync
Comment[nl] = Start en synchroniseer bestanden uit Google Drive met Insync
Comment[pt] = Inicia e sincroniza ficheiros do Google Drive com o Insync
Comment[pt_BR] = Inicie e sincronize arquivos do Google Drive com o Insync
Comment[pt_PT] = Inicia e sincroniza ficheiros do Google Drive com o Insync
Exec = insync start
GenericName = Google Drive Syncronization
GenericName[en_GB] = Google Drive Syncronisation
GenericName[ca] = Sincronització de Google Drive
GenericName[de] = Google Drive Synchronization
GenericName[es] = Sincronización de Google Drive
GenericName[fr] = Synchronisation de Google Drive
GenericName[it] = Sincronizzazione di Google Drive
GenericName[nl] = Synchronisatie van Google Drive
GenericName[pt] = Sincronização do Google Drive
GenericName[pt_BR] = Sincronização do Google Drive
GenericName[pt_PT] = Sincronização do Google Drive
Icon = insync
Keywords = browser; internet; web;
Keywords[ca] = Chrome; Chromium; Drive; Google; Insync; internet; navegador; web;
Keywords[de] = Chrome; Chromium; Drive; Google; Insync; Internet; Web; Webbrowser;
Keywords[el] = Chrome; Chromium; Drive; Google; Insync; internet; web; web browser; διαδικτύου; περιηγητή;
Keywords[eo] = browser; Chrome; Chromium; Drive; Google; Insync; internet; legilo; TTT; web; web brwoser; 
Keywords[eu] = Chrome; Chromium; Drive; Google; Insync; internet; nabigatzaile; web; 
Keywords[es] = Chrome; Chromium; Drive; Google; Insync; internet; navegador; navegador web; web;
Keywords[fr] = Chrome; Chromium; Drive; Google; Insync; internet; navigateur; navigateur web; web;
Keywords[it] = browser; browser web; Chrome; Chromium; Drive; Google; Insync; internet; web;
Keywords[ja] = Chrome; Chromium; Drive; Google; Insync; internet; web; ウェブ; ブラウザ;
Keywords[ka] = Chrome; Chromium; Drive; Google; ბრაუზერი; ინტერნეტ;
Keywords[nl] = Chrome; Chromium; Drive; Google; Insync; internet; web; webbrowser; 
Keywords[pt] = Chrome; Chromium; Drive; Google; Insync; internet; navegador; navegador web; web;
Keywords[pt_BR] = Chrome; Chromium; Drive; Google; Insync; internet; navegador; navegador web; web;
Keywords[pt_PT] = Chrome; Chromium; Drive; Google; Insync; internet; navegador; navegador web; web;
Keywords[ro] = Chrome; Chromium; Drive; Google; Insync; internet; navigator; web;
Keywords[ru] = Chrome; Chromium; Drive; Google; Insync; браузер; веб;
Keywords[uk] = Chrome; Chromium; Drive; Google; Insync; браузер; веб;
Name = Insync
StartupNotify = true
StartupWMClass = insync
Terminal = false
TryExec = insync
Type = Application
Version = 1.1
