[Desktop Entry]
Categories = Internet; KDE; Network; Qt; RemoteAccess;
Exec = knetattach
GenericName[ca] = Assistent per a carpetes de xarxa
GenericName[de] = Assistent für Netzwerkordner
GenericName[el] = Οδηγός φακέλων δικτύου
GenericName[eo] = Asistanto de retaj dosierujoj
GenericName[es] = Asistente de carpetas de red
GenericName[eu] = Sareko karpeten morroia
GenericName[fr] = Assistant pour dossiers réseau
GenericName[it] = Assistente per le cartelle di rete
GenericName[ja] = ネットワーク フォルダ ウィザード
GenericName[ka] = ქსელურ საქარალდეთა ოსტატი
GenericName[nl] = Netwerkmap-assistent
GenericName[pt_BR] = Assistente de pastas de rede
GenericName[pt_PT] = Assistente de Directórios de Rede
GenericName[pt] = Assistente de Directórios de Rede
GenericName[ro] = Expert dosar de rețea
GenericName[ru] = Подключение сетевых папок
GenericName[uk] = Майстер мережевих тек
GenericName = Network Folder Wizard
Icon = knetattach
InitialPreference = 6
Keywords[ca] = avahi; exploració; internet; server; servers; servidor; servidors; ssh; SSH; wifi; wi-fi; zeroconf;
Keywords[de] = avahi; Browser; Internet; Server; ssh; SSH; Wifi; Wi-fi; zeroconf;
Keywords[el] = avahi; browser; internet; server; ssh; SSH; wi-fi; wifi; zeroconf; εξυπηρετητές; εξυπηρετητή; περιηγητής;
Keywords[es] = avahi; internet; navegador; servidor; servidores; ssh; SSH; wifi; wi-fi; zeroconf;
Keywords[fr] = avahi; explorateur; internet; serveur; serveurs; ssh; SSH; wi-fi; wifi; zeroconf;
Keywords[it] = avahi; esploratore; internet; server; ssh; SSH; wifi; wi-fi; zeroconf;
Keywords[ja] = avahi; internet; server; servers; ssh; SSH; wi-fi; wifi; zeroconf; サーバ; サーバー; ブラウザ; 検索;
Keywords[nl] = avahi; browser; internet; server; servers; ssh; SSH; wifi; wi-fi; zeroconf;
Keywords[pt] = avahi; explorador; internet; navegador; servidor; servidores; ssh; SSH; wifi; wi-fi; zeroconf;
Keywords[pt_BR] = avahi; explorador; internet; navegador; servidor; servidores; ssh; SSH; wifi; wi-fi; zeroconf;
Keywords[pt_PT] = avahi; explorador; internet; navegador; servidor; servidores; ssh; SSH; wifi; wi-fi; zeroconf;
Keywords[ro] = avahi; internet; navigator; navighează; servere; ssh; SSH; wifi; wi-fi; zeroconf;
Keywords[ru] = avahi; browser; internet; server; servers; ssh; SSH; wi-fi; wifi; zeroconf; сервер; серверам;
Keywords[uk] = avahi; browser; internet; server; servers; ssh; SSH; wi-fi; wifi; zeroconf; сервер; серверів;
Keywords = avahi; browser; internet; server; servers; ssh; SSH; wifi; wi-fi; zeroconf;
Name = KNetAttach
StartupNotify = true
StartupWMClass = knetattach
Terminal = false
Type = Application
Version = 1.1
X-DBUS-ServiceName = org.kde.knetattach
X-DocPath = knetattach/index.html
X-KDE-StartupNotify = true
