[Desktop Entry]
Actions = Minimize; Pause;
Categories = FileTransfer; GNOME; GTK; Internet; Network; P2P;
Comment[ca] = Baixeu i compartiu fitxers mitjançant el BitTorrent
Comment[de] = Dateien über BitTorrent herunterladen und verteilen
Comment[el] = Λήψη και διαμοιρασμός των αρχείων μέσω του BitTorrent
Comment[eo] = Elŝuti kaj kunhavigi dosierojn per BitTorrent
Comment[es] = Descargue y comparta archivos mediante BitTorrent
Comment[eu] = Deskargatu eta partekatu fitxategiak BitTorrent bidez
Comment[fr] = Téléchargement et partage des fichiers via BitTorrent
Comment[it] = Scarica e condivide file via BitTorrent
Comment[ja] = BitTorrentでファイルをダウンロードおよび共有します
Comment[nl] = Bestanden binnenhalen en delen via BitTorrent
Comment[pt_BR] = Baixar e compartilhar arquivos pelo BitTorrent
Comment[pt_PT] = Receber e partilhar ficheiros via bittorrent
Comment[pt] = Receber e partilhar ficheiros via bittorrent
Comment[ro] = Descarcă și partajează fișiere prin BitTorrent
Comment[ru] = Загружайте и обменивайтесь файлами в сети BitTorrent
Comment[uk] = Завантажуйте та розповсюджуйте файли через BitTorrent
Comment = Download and share files over BitTorrent
Exec = transmission-gtk %U
GenericName[ca] = Client de BitTorrent
GenericName[de] = BitTorrent-Programm
GenericName[el] = Πελάτης BitTorrent
GenericName[eo] = BitTorrent-Kliento
GenericName[es] = Cliente de BitTorrent
GenericName[eu] = BitTorrent bezeroa
GenericName[fr] = Client BitTorrent
GenericName[it] = Client BitTorrent
GenericName[ja] = BitTorrent クライアント
GenericName[nl] = BitTorrent-client
GenericName[pt_BR] = Cliente BitTorrent
GenericName[pt_PT] = Cliente BitTorrent
GenericName[pt] = Cliente BitTorrent
GenericName[ro] = Client BitTorrent
GenericName[ru] = Клиент BitTorrent
GenericName[uk] = Клієнт BitTorrent
GenericName = BitTorrent Client
Icon = transmission
MimeType = application/x-bittorrent; x-scheme-handler/magnet;
Name = Transmission
StartupNotify = true
StartupWMClass = transmission-gtk
Terminal = false
TryExec = transmission-gtk
Type = Application
X-AppInstall-Keywords = torrent
X-Ubuntu-Gettext-Domain = transmission

[Desktop Action Minimize]
Name = Start Transmission Minimized
Exec = transmission-gtk --minimized

[Desktop Action Pause]
Name = Start Transmission with All Torrents Paused
Exec = transmission-gtk --paused
