[Desktop Entry]
Version=1.1
Type=Application
Name=Sharing
Comment=Control what you want to share with others
Icon=preferences-system-sharing
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center sharing
Actions=
Categories=DesktopSettings;GNOME;GTK;Settings;SystemSettings;X-GNOME-AccountSettings;X-GNOME-Settings-Panel;
Keywords=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;
StartupNotify=true
