[Desktop Entry]
Version=1.1
Type=Application
Name=Wi-Fi
Comment=Control how you connect to Wi-Fi networks
Icon=network-wireless
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center wifi
Actions=
Categories=GNOME;GTK;HardwareSettings;Settings;SystemSettings;X-GNOME-ConnectivitySettings;X-GNOME-Settings-Panel;
Keywords=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;
StartupNotify=true
