[Desktop Entry]
Version=1.1
Type=Application
Name=Default Applications
Comment=Configure Default Applications
Icon=starred
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center default-apps
Actions=
Categories=GNOME;GTK;Settings;SystemSettings;X-GNOME-DetailsSettings;X-GNOME-Settings-Panel;
Keywords=default;application;preferred;media;
StartupNotify=true
