[Desktop Entry]
Actions = 
Categories = GNOME; GTK; HardwareSettings; Settings; SystemSettings; X-GNOME-ConnectivitySettings; X-GNOME-NetworkSettings; X-GNOME-Settings-Panel;
Comment = Turn Bluetooth on and off and connect your devices
Comment[ca] = Activeu i desactiveu el Bluetooth i connecteu els teus dispositius
Comment[de] = Schalte Bluetooth ein und aus und verbinde deine Geräte
Comment[es] = Activa y desactiva el Bluetooth y conecta tus dispositivos
Comment[fr] = Activez et désactivez Bluetooth et connectez vos appareils
Comment[it] = Attiva e disattiva il Bluetooth e collega i tuoi dispositivi
Comment[nl] = Schakel Bluetooth in en uit en sluit uw apparaten aan
Comment[pt_BR] = Ligue e desligue o Bluetooth e conecte seus dispositivos
Comment[pt_PT] = Conecte e desconecte o Bluetooth e conecte seus dispositivos
Comment[pt] = Conecte e desconecte o Bluetooth e conecte seus dispositivos
Exec = gnome-control-center bluetooth
GenericName = Bluetooth
Icon = bluetooth
Keywords = bluetooth; share;
Keywords[ca] = bluetooth; compartir;
Keywords[de] = bluetooth; teilen;
Keywords[es] = bluetooth; compartir;
Keywords[fr] = bluetooth; partager;
Keywords[it] = bluetooth; condividere;
Keywords[ka] = bluetooth; განაწილება;
Keywords[nl] = bluetooth; delen;
Keywords[pt_BR] = bluetooth; compartilhar;
Keywords[pt_PT] = bluetooth; partilhar;
Keywords[pt] = bluetooth; partilhar;
Name = Bluetooth
StartupNotify = true
Type = Application
Version = 1.1
