[Desktop Entry]
Actions = 
Categories = DesktopSettings; GNOME; GTK; Settings; System; SystemSettings; X-GNOME-PersonalizationSettings; X-GNOME-Settings-Panel; X-GNOME-SystemSettings; X-Unity-Settings-Panel; X-XFCE-SettingsDialog; X-XFCE-SystemSettings;
Comment[ca] = Canvieu la imatge de fons a un fons de pantalla o fotografia
Comment[de] = Verwenden Sie ein Foto oder eine Grafikdatei für den Hintergrund
Comment[el] = Αλλάξτε την εικόνα παρασκηνίου με μια ταπετσαρία ή φωτογραφία
Comment[eo] = Ŝanĝi vian fonan bildon al ekranfono aŭ foto
Comment[es] = Cambiar la imagen de fondo de escritorio por un tapiz o una foto
Comment[eu] = Aldatu atzeko planoko irudia horma-paper edo argazki batera
Comment[fr] = Remplacer votre image d’arrière-plan par un papier peint ou une photo
Comment[it] = Cambia l’immagine di sfondo con un rivestimento o una foto
Comment[ja] = 背景画像を壁紙や写真に変更します
Comment[nl] = Achtergrond wijzigen in een achtergrondafbeelding of foto
Comment[pt_BR] = Altere sua imagem de fundo para um papel de parede ou uma foto
Comment[pt_PT] = Alterar a sua imagem de fundo para um papel de parede ou fotografia
Comment[pt] = Alterar a sua imagem de fundo para um papel de parede ou fotografia
Comment[ro] = Schimbă imaginea de fundal într-un tapet sau o fotografie
Comment[ru] = Изменить фоновое изображение на обои или фото
Comment[uk] = Змінити малюнок тла на шпалери або фотографію
Comment = Change your background image to a wallpaper or photo
Exec = gnome-control-center background
GenericName[ca] = Fons
GenericName[de] = Hintergrund
GenericName[el] = Παρασκήνιο
GenericName[eo] = Fono
GenericName[es] = Fondo
GenericName[eu] = Atzeko planoa
GenericName[fr] = Arrière-plan
GenericName[it] = Sfondo
GenericName[ja] = 背景
GenericName[ka] = ფონი
GenericName[nl] = Achtergrond
GenericName[pt_BR] = Plano de fundo
GenericName[pt_PT] = Plano de fundo
GenericName[pt] = Plano de fundo
GenericName[ro] = Fundal
GenericName[ru] = Фон
GenericName = Background
Icon = preferences-desktop-wallpaper
Keywords[ca] = escriptori; fons de pantalla; pantalla;
Keywords[de] = Bildschirm; Hintergrundbild; Schreibtisch;
Keywords[el] = desktop; screen; wallpaper; επιφάνεια εργασίας; οθόνη; ταπετσαρία;
Keywords[eo] = ekranfono; ekrano; labortablo;
Keywords[es] = escritorio; fondo de pantalla; pantalla;
Keywords[eu] = horma-papera; mahaigaina; pantaila;
Keywords[fr] = Papier peint;Écran;Bureau;
Keywords[it] = desktop; rivestimento; scrivania; sfondo; wallpaper;
Keywords[ja] = background; desktop; screen; wallpaper; スクリーン; デスクトップ; 壁紙; 背景;
Keywords[nl] = achtergrond; bureaublad; desktop; scherm; screen; wallpaper;
Keywords[pt_BR] = desktop; papel de parede; tela; área de trabalho;
Keywords[pt_PT] = ecrã; papel de parede; área de trabalho;
Keywords[pt] = ecrã; papel de parede; área de trabalho;
Keywords[ro] = desktop; ecran; screen; tapet; wallpaper;
Keywords[ru] = обои; рабочий; экран;
Keywords[uk] = екран; стільниця; шпалери;
Keywords = desktop; screen; wallpaper;
Name[ca] = Fons
Name[de] = Hintergrund
Name[el] = Παρασκήνιο
Name[eo] = Fono
Name[es] = Fondo
Name[eu] = Atzeko planoa
Name[fr] = Arrière-plan
Name[it] = Sfondo
Name[ja] = 背景
Name[ka] = ფონი
Name[nl] = Achtergrond
Name[pt_BR] = Plano de fundo
Name[pt_PT] = Plano de fundo
Name[pt] = Plano de fundo
Name[ro] = Fundal
Name[ru] = Фон
Name = Background
StartupNotify = true
Type = Application
Version = 1.0
