[Desktop Entry]
Version=1.1
Type=Application
Name=Wacom Tablet
Comment=Set button mappings and adjust stylus sensitivity for graphics tablets
Icon=input-tablet
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center wacom
Actions=
Categories=GNOME;GTK;HardwareSettings;Settings;SystemSettings;X-GNOME-DevicesSettings;X-GNOME-Settings-Panel;
Keywords=Tablet;Wacom;Stylus;Eraser;Mouse;
StartupNotify=true
