[Desktop Entry]
Actions = 
Categories = DesktopSettings; GNOME; GTK; Settings; SystemSettings;
Comment = Control various application permissions and settings
Comment[ca] = Controla diversos permisos d’aplicacions i paràmetres
Comment[de] = Festlegen verschiedener Anwendungs-Berechtigungen und Einstellungen
Comment[el] = Ελέγξτε τα διάφορα δικαιώματα και ρυθμίσεις εφαρμογών
Comment[eo] = Kontroli diversajn aplikaĵajn permesojn kaj agordojn
Comment[es] = Controlar la configuración y los permisos de varias aplicaciones
Comment[eu] = Kontrolatu aplikazioen baimenak eta ezarpenak
Comment[fr] = Contrôle diverses permissions et réglages d’application
Comment[it] = Controlla permessi e impostazioni delle applicazioni
Comment[ja] = アプリケーションの権限や設定を変更します
Comment[nl] = Beheer verschillende toepassingsrechten en -instellingen
Comment[pt_BR] = Controle várias permissões e configurações de aplicativos
Comment[pt_PT] = Controle várias permissões e configurações de aplicações
Comment[pt] = Controle várias permissões e configurações de aplicações
Comment[ro] = Controlează permisiuni și configurări variate ale aplicației
Comment[ru] = Управление различными разрешениями и настройками приложения
Exec = gnome-control-center applications
GnericName = GNOME Applications
GnericName[ca] = GNOME Aplicacions
GnericName[de] = GNOME Anwendungen
GnericName[el] = GNOME Εφαρμογές
GnericName[eo] = GNOME Aplikaĵoj
GnericName[es] = GNOME Aplicaciones
GnericName[eu] = GNOME Aplikazioak
GnericName[fr] = GNOME Applications
GnericName[it] = GNOME Applicazioni
GnericName[ja] = GNOME アプリケーション
GnericName[nl] = GNOME Toepassingen
GnericName[pt_BR] = GNOME Aplicativos
GnericName[pt_pt] = GNOME Aplicações
GnericName[pt] = GNOME Aplicações
GnericName[ro] = GNOME Aplicații
GnericName[ru] = GNOME Приложения
GnericName[uk] = GNOME Програми
Icon = gnome-applications-panel
Keywords = application; applications; flatpak; permission; setting;
Keywords[ca] = aplicació; aplicacions; flatpak; paràmetre; permís;
Keywords[de] = anwendung; berechtigung; einstellung; flatpak;
Keywords[el] = application; flatpak; flatpak; permission; setting; άδεια; εφαρμογή; ρύθμιση
Keywords[eo] = agordo; aplikaĵo; aplikaĵoj; flatpak; permeso;
Keywords[es] = aplicación; aplicaciones; configuración; flatpak; permisos;
Keywords[eu] = aplikazioa; aplikazioak; baimena; ezarpena; flatpack;
Keywords[fr] = application; applications; flatpak; permission; réglage;
Keywords[it] = applicazione; applicazioni; flatpak; impostazioni; permessi;
Keywords[ja] = application; flatpak; permission; setting; アプリケーション; パーミッション; 権限; 設定; 許可;
Keywords[nl] = applicatie; applicaties; application; flatpak; instellingen; machtigingen; permission; rechten; setting; toepassing;
Keywords[pt_BR] = aplicação; aplicações; aplicativo; aplicativos; application; configuração; flatpak; permission; permissão; setting;
Keywords[pt_pt] = aplicação; aplicações; aplicativo; aplicativos; application; configuração; flatpak; permission; permissão; setting;
Keywords[pt] = aplicação; aplicações; aplicativo; aplicativos; application; configuração; flatpak; permission; permissão; setting;
Keywords[ro] = aplicație; aplicației; application; configurare; flatpak; permisiune; permission; setting;
Keywords[ru] = flatpak; доступ; настройки; параметры; права; приложение;
Name = Applications
Name[ca] = Aplicacions
Name[de] = Anwendungen
Name[el] = Εφαρμογές
Name[eo] = Aplikaĵoj
Name[es] = Aplicaciones
Name[eu] = Aplikazioak
Name[fr] = Applications
Name[it] = Applicazioni
Name[ja] = アプリケーション
Name[nl] = Toepassingen
Name[pt_BR] = Aplicativos
Name[pt] = Aplicações
Name[ro] = Aplicații
Name[ru] = Приложения
Name[uk] = Програми
StartupNotify = true
Type = Application
Version = 1.1
