[Desktop Entry]
Version=1.1
Type=Application
Name=Sound
Comment=Change sound levels, inputs, outputs, and alert sounds
Icon=multimedia-volume-control
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center sound
Actions=
Categories=GNOME;GTK;HardwareSettings;Settings;SystemSettings;X-GNOME-Settings-Panel;
Keywords=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
StartupNotify=true
