[Desktop Entry]
Version=1.1
Type=Application
Name=Network
Comment=Control how you connect to the Internet
Icon=network-workgroup
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center network
Actions=
Categories=GNOME;GTK;HardwareSettings;Settings;SystemSettings;X-GNOME-Settings-Panel;
Keywords=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
StartupNotify=true
