[Desktop Entry]
Actions =
Categories = GNOME; GTK; HardwareSettings; Settings; SystemSettings; X-GNOME-DevicesSettings; X-GNOME-Settings-Panel;
Comment = Calibrate the color of your devices, such as displays, cameras or printers
Comment[ca] = Califiqueu el color dels teus dispositius, com ara pantalles, càmeres o impressores
Comment[de] = Kalibriere die Farbe deiner Geräte wie Displays, Kameras oder Drucker
Comment[en_GB] = Calibrate the colour of your devices, such as displays, cameras or printers
Comment[es] = Calibre el color de sus dispositivos, como pantallas, cámaras o impresoras
Comment[fr] = Calibrez la couleur de vos périphériques, tels que les écrans, les appareils photo ou les imprimantes
Comment[it] = Calibra il colore dei tuoi dispositivi, come display, fotocamere o stampanti
Comment[nl] = Kalibreer de kleur van uw apparaten, zoals schermen, camera’s of drukkers
Comment[pt_BR] = Calibre a cor de seus dispositivos, como monitores, câmeras ou impressoras
Comment[pt_PT] = Calibra a cor de teus dispositivos, como monitores, câmaras ou impressoras
Comment[pt] = Calibra a cor de teus dispositivos, como monitores, câmaras ou impressoras
Exec = gnome-control-center color
GenericName = Color Calibration
GenericName[ca] = Calibració del color
GenericName[de] = Farbkalibrierung
GenericName[en_GB] = Colour Calibration
GenericName[es] = Calibración de color
GenericName[fr] = Calibrage des couleurs
GenericName[it] = Calibrazione del colore
GenericName[nl] = Kleurkalibratie
GenericName[pt_BR] = Calibração de cores
GenericName[pt_PT] = Calibração de cores
GenericName[pt] = Calibração de cores
Icon = preferences-color
Keywords = calibrate; color; display; ICC; printer; profile;
Keywords[ca] = calibrar; color; ICC; impressora; pantalla;
Keywords[de] = Anzeige; Drucker; Farbe; ICC; kalibrieren;
Keywords[en_GB] = calibrate; colour; display; ICC; printer; profile;
Keywords[es] = calibrar; color; ICC; impresora; monitor;
Keywords[fr] = afficher; calibrer; couleur; CPI; étalonner; ICC; imprimante;
Keywords[it] = calibrare; colore; CPI; display; ICC; stampante;
Keywords[nl] = drukker; ICC; kalibreren; kleur; printer; vertoning;
Keywords[pt_BR] = calibrar; cor; exibição; ICC; impressora; monitor;
Keywords[pt_PT] = calibrar; cor; exibição; ICC; impressora; monitor;
Keywords[pt] = calibrar; cor; exibição; ICC; impressora; monitor;
Name = GNOME Color
Name[ca] = GNOME Color
Name[de] = GNOME Farbe
Name[en_GB] = GNOME Colour
Name[es] = GNOME Color
Name[fr] = GNOME Couleurs
Name[it] = GNOME Colore
Name[nl] = GNOME Kleur
Name[pt_BR] = GNOME Cores
Name[pt_PT] = GNOME Cores
Name[pt] = GNOME Cores
StartupNotify = true
StarupWMClass = gnome-control-center
Terminal = false
Type = Application
Version = 1.1
