[Desktop Entry]
Version=1.1
Type=Application
Name=Mouse &amp; Touchpad
Comment=Change your mouse or touchpad sensitivity and select right or left-handed
Icon=input-mouse
OnlyShowIn=GNOME;Unity;
Exec=gnome-control-center mouse
Actions=
Categories=GNOME;GTK;HardwareSettings;Settings;SystemSettings;X-GNOME-DevicesSettings;X-GNOME-Settings-Panel;
Keywords=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;Touchpad;
StartupNotify=true
