[Desktop Entry]
Categories = Graphics; Photography;
Comment = An image viewer.
Comment[ca] = Un visor d’imatges.
Comment[de] = Ein Bildbetrachter.
Comment[es] = Un visor de imágenes.
Comment[fr] = Un visionneuur d’images.
Comment[it] = Un visualizzatore di immagini.
Comment[nl] = Een beeldviewer.
Comment[pt_BR] = Um visualizador de imagens
Comment[pt_PT] = Um visualizador de imagens
Comment[pt] = Um visualizador de imagens
Exec = /usr/bin/gcr-viewer
GenericName = Image viewer.
GenericName[ca] = Visor d’imatges.
GenericName[de] = Bildbetrachter.
GenericName[es] = Visor de imágenes.
GenericName[fr] = Visionneuur d’images.
GenericName[it] = Visualizzatore di immagini.
GenericName[nl] = Beeldviewer.
GenericName[pt_BR] = Visualizador de imagens
GenericName[pt_PT] = Visualizador de imagens
GenericName[pt] = Visualizador de imagens
Icon = gcr-viewer
Keywords = photos; pictures;
Keywords[ca] = fotografies; imatges;
Keywords[de] = bilder; fotos;
Keywords[el] = photos; pictures; εικόνες; φωτογραφίες;
Keywords[eo] = bildoj; fotoj;
Keywords[es] = fotos; imágenes;
Keywords[eu] = argazkiak; irudiak;
Keywords[fr] = images; photos;
Keywords[it] = foto; immagini;
Keywords[ja] = photos; pictures; フォト; 写真; 画像; 絵;
Keywords[nl] = afbeeldingen; foto's; photos; pictures;
Keywords[pt_BR] = foto; fotos; imagem; imagens;
Keywords[pt_PT] = fotografias; imagens;
Keywords[pt] = fotografias; imagens;
Keywords[ro] = fotografii; photos; pictures; poze;
Keywords[ru] = изображения; картинки; фотографии;
Keywords[uk] = світлини; фотографії;
MimeType = application/pkcs10; application/pkcs10+pem; application/pkcs12; application/pkcs12+pem; application/pkcs7-mime; application/pkcs7-mime+pem; application/pkcs8; application/pkcs8+pem; application/pkix-cert; application/pkix-cert+pem; application/pkix-crl; application/pkix-crl+pem; application/x-pem-file; application/x-pem-key; application/x-pkcs12; application/x-pkcs7-certificates; application/x-spkac; application/x-spkac+base64; application/x-x509-ca-cert; application/x-x509-user-cert;
Name = GCR Viewer 
Name[ca] = GCR Visor
Name[de] = GCR Trachter
Name[es] = GCR Visor
Name[fr] = GCR Visionneuur
Name[it] = GCR Visualizzatore
Name[nl] = GCR Beeldviewer
Name[pt_BR] = GCR Visualizador
Name[pt_PT] = GCR Visualizador
Name[pt] = GCR Visualizador
StartupNotify = true
StartupWMClass = gcr-viewer
Terminal = false
Type = Application
Version = 1.1
X-GNOME-Bugzilla-Bugzilla = GNOME
X-GNOME-Bugzilla-Component = gcr
X-GNOME-Bugzilla-Product = gnome-keyring