[Desktop Entry]
Categories = Development; Graphics; GNOME; GTK;
Comment = GTK 3 code examples and demonstrations
Comment[ca] = Exemples de codi i demostracions de GTK 3
Comment[de] = GTK 3 Codebeispiele und Demonstrationen
Comment[es] = Ejemplos y demostraciones de códigos GTK 3
Comment[fr] = Exemples et démonstrations de codes GTK 3
Comment[it] = Esempi e dimostrazioni di codici GTK 3
Comment[nl] = GTK 3-codevoorbeelden en demonstraties
Comment[pt] = Exemplos e demonstrações de códigos GTK 3
Comment[pt_BR] = Exemplos e demonstrações de códigos GTK 3
Comment[pt_PT] = Exemplos e demonstrações de códigos GTK 3
Exec = gtk3-demo
GenericName = GTK 3 Demos
GenericName[ca] = Demostracions de GTK 3
GenericName[de] = GTK 3 Demos
GenericName[es] = Demostraciones de GTK 3
GenericName[fr] = Démonstrations de GTK 3
GenericName[it] = Dimostrazioni di GTK 3
GenericName[nl] = GTK 3 Demos
GenericName[pt_BR] = Demonstrações de GTK 3
GenericName[pt_PT] = Demonstrações de GTK 3
GenericName[pt] = Demonstrações de GTK 3
Icon = gtk3-demo
Keywords = codes; demo; demos, gnome; gtk; GNOME; GTK;
Keywords[ca] = codi; demo; demostracions; demos, gnome; gtk; GNOME; GTK;
Keywords[de] = Code; Codebeispiele; demo; Demonstrationen; demos, gnome; gtk; GNOME; GTK;
Keywords[es] = código; códigos; demo; demostraciones; demos, gnome; gtk; GNOME; GTK;
Keywords[fr] = codes; demo; démonstrations; démos; demos, gnome; gtk; GNOME; GTK;
Keywords[it] = codice; codici; demo; dimostrazioni; demos, gnome; gtk; GNOME; GTK;
Keywords[nl] = code; codevoorbeelden; demo; demonstraties; demos, gnome; gtk; GNOME; GTK;
Keywords[pt] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK;
Keywords[pt_BR] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK;
Keywords[pt_PT] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK;
Name = GTK+ Demo
StartupNotify = true
StartupWMClass = gtk3-demo
Terminal = false
Type = Application
Version = 1.1
