[Desktop Entry]
Categories = Development; Graphics; GTK; Utility;
Comment = An application that shows themed icons
Comment[ca] = Una aplicació que mostra les icones temàtiques
Comment[de] = Eine Anwendung, die Themenikonen anzeigt
Comment[es] = Una aplicación que muestra iconos temáticos.
Comment[fr] = Une application qui affiche des icônes thématiques
Comment[it] = Un’applicazione che mostra icone a tema
Comment[nl] = Een applicatie die thema-iconen toont
Comment[pt] = Um aplicativo que mostra ícones temáticos
Comment[pt_BR] = Um aplicativo que mostra ícones temáticos
Comment[pt_PT] = Um aplicativo que mostra ícones temáticos
Exec = gtk3-icon-browser
GenericName = Icon Browser
GenericName[ca] = Navegador d’icones
GenericName[de] = Ikonen-Browser
GenericName[es] = Navegador de iconos
GenericName[fr] = Navigateur d’icônes
GenericName[it] = Navigatore d’icone
GenericName[nl] = Iconen-browser
GenericName[pt_BR] = Navegador de ícones
GenericName[pt_PT] = Navegador de ícones
GenericName[pt] = Navegador de ícones
Icon = gtk3-icon-browser
Keywords = codes; demo; demos, gnome; gtk; GNOME; GTK; icon; icons;
Keywords[ca] = codi; demo; demostracions; demos, gnome; gtk; GNOME; GTK; icones;
Keywords[de] = Code; Codebeispiele; demo; Demonstrationen; demos, gnome; gtk; GNOME; GTK; icon; icons; Ikon; Ikone; Ikonen;
Keywords[es] = código; códigos; demo; demostraciones; demos, gnome; gtk; GNOME; GTK; icono; iconos;
Keywords[fr] = codes; demo; démonstrations; demos, gnome; gtk; GNOME; GTK; icône; icônes;
Keywords[it] = codice; codici; demo; dimostrazioni; demos, gnome; gtk; GNOME; GTK; icona; icone;
Keywords[nl] = code; codevoorbeelden; demo; demonstraties; demos, gnome; gtk; GNOME; GTK; icoon; iconen; pictogram; pictogrammen;
Keywords[pt] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK; ícone; ícones;
Keywords[pt_BR] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK; ícone; ícones;
Keywords[pt_PT] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK; ícone; ícones;
Name = GTK3 Icon Browser
Name[ca] = GTK3 Navegador d’icones
Name[de] = GTK3 Ikonen-Browser
Name[es] = GTK3 Navegador de iconos
Name[fr] = GTK3 Navigateur d’icônes
Name[it] = GTK3 Navigatore d’icone
Name[nl] = GTK3 Iconen-browser
Name[pt_BR] = GTK3 Navegador de ícones
Name[pt_PT] = GTK3 Navegador de ícones
Name[pt] = GTK3 Navegador de ícones
StartupNotify = true
StartupWMClass = gtk3-icon-browser
Terminal = false
Type = Application
Version = 1.1
