[Desktop Entry]
Categories = Development; Graphics; GNOME; GTK;
Comment = A showcase for GTK 3 widgets, designed for testing themes.
Comment[ca] = Un aparador per als widgets GTK 3, dissenyat per provar temes.
Comment[de] = Eine Auslage für GTK 3 Widgets zum Testen von Themen.
Comment[es] = Una vitrina para widgets GTK 3, diseñado para probar temas.
Comment[fr] = Une vitrine pour les widgets GTK 3, conçue pour tester des thèmes.
Comment[it] = Una vetrina per i widget GTK 3, progettata per testare temi.
Comment[nl] = Een etalage voor GTK 3-widgets, ontworpen voor het testen van thema’s.
Comment[pt_BR] = Um mostruário de widgets GTK 3, projetado para testar temas.
Comment[pt_PT] = Um mostruário de widgets GTK 3, projetado para testar temas.
Comment[pt] = Um mostruário de widgets GTK 3, projetado para testar temas.
Exec = gtk3-widget-factory
GenericName = Widgets factory
GenericName[ca] = Fàbrica de widgets
GenericName[de] = Fabrik der Widgets
GenericName[es] = Fábrica de widgets
GenericName[fr] = Fabrique des widgets
GenericName[it] = Fabbrica di widget
GenericName[nl] = Widgets-fabriek
GenericName[pt_BR] = Fábrica de widgets
GenericName[pt_PT] = Fábrica de widgets
GenericName[pt] = Fábrica de widgets
Icon = gtk3-widget-factory
Keywords = codes; demo; demos, gnome; gtk; GNOME; GTK; icon; icons; widgets;
Keywords[ca] = codi; demo; demostracions; demos, gnome; gtk; GNOME; GTK; icones; widgets;
Keywords[de] = Code; Codebeispiele; demo; Demonstrationen; demos, gnome; gtk; GNOME; GTK; icon; icons; Ikon; Ikone; Ikonen; widgets;
Keywords[es] = código; códigos; demo; demostraciones; demos, gnome; gtk; GNOME; GTK; icono; iconos; widgets;
Keywords[fr] = codes; demo; démonstrations; demos, gnome; gtk; GNOME; GTK; icône; icônes; widgets;
Keywords[it] = codice; codici; demo; dimostrazioni; demos, gnome; gtk; GNOME; GTK; icona; icone; widgets;
Keywords[nl] = code; codevoorbeelden; demo; demonstraties; demos, gnome; gtk; GNOME; GTK; icoon; iconen; pictogram; pictogrammen; widgets;
Keywords[pt_BR] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK; ícone; ícones; widgets;
Keywords[pt_PT] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK; ícone; ícones; widgets;
Keywords[pt] = código; códigos; demo; demonstrações; demos, gnome; gtk; GNOME; GTK; ícone; ícones; widgets;
Name = GTK 3 idget Factory
Name[ca] = Fàbrica de widgets GTK 3
Name[de] = Fabrik der Widgets für GTK 3
Name[es] = Fábrica de widgets del GTK 3
Name[fr] = Fabrique des widgets du GTK 3
Name[it] = Fabbrica di widget per GTK 3
Name[nl] = Widgets-fabriek voor GTK 3
Name[pt_BR] = Fábrica de widgets do GTK 3
Name[pt_PT] = Fábrica de widgets do GTK 3
Name[pt] = Fábrica de widgets do GTK 3
StartupNotify = true
StartupWMClass = gtk3-widget-factory
Terminal = false
Type = Application
Version = 1.1
