[Desktop Entry]
Categories = GNOME; GTK; Graphics; Photography; Utility;
Comment = Visit and download the wallpapers of all past GNOME versions!
Comment[ca] = Visiteu i descarregueu els fons de pantalla de totes les últimes versions del GNOME.
Comment[de] = Besuche die Hintergrundbilder aller früheren GNOME-Versionen und lade sie herunter!
Comment[es] = ¡Visite y descargue los fondos de pantalla de todas las versiones anteriores de GNOME!
Comment[fr] = Visitez et téléchargez les fonds d’écran de toutes les anciennes versions de GNOME !
Comment[it] = Visita e scarica gli sfondi di tutte le precedenti versioni di GNOME!
Comment[nl] = Bezoek en download de achtergronden van alle voorgaande GNOME-versies!
Comment[pt] = Visite e transfira os papéis de parede de todas as antigas versões do GNOME!
Comment[pt_BR] = Visite e transfira os papéis de parede de todas as antigas versões do GNOME!
Comment[pt_PT] = Visite e transfira os papéis de parede de todas as antigas versões do GNOME!
Exec = /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=nostalgia im.bernard.Nostalgia
GenericName = Old and good wallpapers
GenericName[ca] = Fons de pantalla antic i bo
GenericName[de] = Alte und gute Hintergrundbilder
GenericName[es] = Fondos de pantalla viejos y buenos
GenericName[fr] = Vieux et bons fonds d’écran
GenericName[it] = Vecchi e buoni sfondi
GenericName[nl] = Oude en goede achtergronden
GenericName[pt_BR] = Velhos e bons planos do fundo
GenericName[pt_PT] = Bons e velhos papéis de parede
GenericName[pt] = Bons e velhos papéis de parede
Icon = im.bernard.Nostalgia
Keywords = GNOME; GTK; wallpapers;
Keywords[ca] = GNOME; GTK; fons de pantalla;
Keywords[de] = GNOME; GTK; Hintergrundbilder;
Keywords[es] = GNOME; GTK; fondos de pantalla;
Keywords[fr] = GNOME; GTK; fonds d’écran;
Keywords[it] = GNOME; GTK; sfondi;
Keywords[nl] = GNOME; GTK; achtergronden;
Keywords[pt] = GNOME; GTK; papéis de parede; planos do fundo;
Keywords[pt_BR] = GNOME; GTK; papéis de parede; planos do fundo;
Keywords[pt_PT] = GNOME; GTK; papéis de parede; planos do fundo;
Name = GNOME Nostalgia
StartupNotify = true
StartupWMClass = im.bernard.Nostalgia
Terminal = false
Type = Application
Version = 1.1
