[Desktop Entry]
Categories = Graphics; Photography; Viewer;
Comment = Nomacs is a free, open source image viewer.
Comment[de] = Ressourcenschonender, plattformübergreifend verwendbarer Bildbetrachter mit Unterstützung für verschiedenste Formate
Comment[pt] = Um visualizador de imagens desenvolvido em QT
Comment[pt_BR] = Um visualizador de imagens desenvolvido em QT
Comment[pt_PT] = Um visualizador de imagens desenvolvido em QT
Exec = nomacs %F
GenericName = Image Viewer
GenericName[de] = Bildbetrachter
GenericName[pt] = Visualizador de imagens
GenericName[pt_BR] = Visualizador de imagens
GenericName[pt_PT] = Visualizador de imagens
Icon = nomacs
MimeType = image/bmp; image/gif; image/jpeg; image/png; image/tiff; image/x-eps; image/x-ico; image/x-portable-bitmap; image/x-portable-graymap; image/x-portable-pixmap; image/x-xbitmap; image/x-xpixmap;
Name = Nomacs
StartupNotify = true
StartupWNClass = nomacs
Terminal = false
Type = Application
