[Desktop Entry]
Categories = Graphics; Photography; Viewer;
Comment = Nomacs is a free, open source image viewer, developed in QT.
Comment[ca] = Nomacs és un visualitzador d’imatges de codi obert i gratuït, desenvolupat a QT.
Comment[de] = Nomacs ist ein kostenloser und open source Bildbetrachter, der in QT entwickelt wurde.
Comment[es] = Nomacs es un visor de imágenes gratuito y de código abierto, desarrollado en QT.
Comment[fr] = Nomacs est une visionneuse d’images libre et open source, développée en QT.
Comment[it] = Nomacs è un visualizzatore di immagini gratuito e open source, sviluppato in QT.
Comment[nl] = Nomacs is een gratis en open source beeldviewer, ontwikkeld in QT.
Comment[pt] = Nomacs é um visualizador de imagens gratuito e de código aberto, desenvolvido em QT.
Comment[pt_BR] = Nomacs é um visualizador de imagens gratuito e de código aberto, desenvolvido em QT.
Comment[pt_PT] = Nomacs é um visualizador de imagens gratuito e de código aberto, desenvolvido em QT.
Exec = nomacs %F
GenericName = Image viewer.
GenericName[ca] = Visor d’imatges.
GenericName[de] = Bildbetrachter.
GenericName[es] = Visor de imágenes.
GenericName[fr] = Visionneuur d’images.
GenericName[it] = Visualizzatore di immagini.
GenericName[nl] = Beeldviewer.
GenericName[pt_BR] = Visualizador de imagens.
GenericName[pt_PT] = Visualizador de imagens.
GenericName[pt] = Visualizador de imagens.
Icon = nomacs
Keywords[ca] = fotografies; imatges;
Keywords[de] = bilder; fotos;
Keywords[el] = photos; pictures; εικόνες; φωτογραφίες;
Keywords[eo] = bildoj; fotoj;
Keywords[es] = fotos; imágenes;
Keywords[eu] = argazkiak; irudiak;
Keywords[fr] = images; photos;
Keywords[it] = foto; immagini;
Keywords[ja] = photos; pictures; フォト; 写真; 画像; 絵;
Keywords[nl] = afbeeldingen; foto's; foto’s; photos; pictures;
Keywords[pt_BR] = foto; fotos; imagem; imagens;
Keywords[pt_PT] = fotografias; imagens;
Keywords[pt] = fotografias; imagens;
Keywords[ro] = fotografii; photos; pictures; poze;
Keywords[ru] = изображения; картинки; фотографии;
Keywords[uk] = світлини; фотографії;
MimeType = image/bmp; image/gif; image/jpeg; image/png; image/tiff; image/x-eps; image/x-ico; image/x-portable-bitmap; image/x-portable-graymap; image/x-portable-pixmap; image/x-xbitmap; image/x-xpixmap;
Name = Nomacs
StartupNotify = true
StartupWNClass = nomacs
Terminal = false
Type = Application
Version = 1.1
