[Desktop Entry]
Categories = Graphics; Photography; Viewer;
Comment[ca] = Accediu, gestioneu i compartiu fotografies
Comment[de] = Auf Fotos zugreifen, diese verwalten und freigeben
Comment[el] = Προσπελάστε, οργανώστε και μοιραστείτε τις φωτογραφίες σας
Comment[eo] = Aliri, administri kaj kunhavigi fotojn
Comment[es] = Acceder, organizar y compartir fotos
Comment[eu] = Atzitu, antolatu eta partekatu argazkiak
Comment[fr] = Accéder, organiser et partager des photos
Comment[it] = Accede, organizza e condivide foto
Comment[ja] = 写真の表示、整理、共有を行います
Comment[nl] = Foto’s bekijken, beheren en delen
Comment[pt_BR] = Acesse, organize e compartilhe fotos
Comment[pt] = Aceder, organizar e partilhar fotografias
Comment[ro] = Accesați, organizați și partajați fotografii
Comment[ru] = Доступ, управление и обмен фотографиями
Comment[uk] = Доступатись, упорядковувати і ділитись фотографіями
Comment = Access, organize and share photos
DBusActivatable = true
Exec = gnome-photos
GenericName = Photos viewer.
GenericName[ca] = Visor de fotografies.
GenericName[de] = Fotos-Betrachter.
GenericName[es] = Visor de fotos.
GenericName[fr] = Visionneuur de photos.
GenericName[it] = Visualizzatore di foto.
GenericName[nl] = Foto’s-viewer.
GenericName[pt_BR] = Visualizador de fotos
GenericName[pt_PT] = Visualizador de fotografias
GenericName[pt] = Visualizador de fotografias
Icon = org.gnome.Photos
Keywords[ca] = fotografies; imatges;
Keywords[de] = bilder; fotos;
Keywords[el] = photos; pictures; εικόνες; φωτογραφίες;
Keywords[eo] = bildoj; fotoj;
Keywords[es] = fotos; imágenes;
Keywords[eu] = argazkiak; irudiak;
Keywords[fr] = images; photos;
Keywords[it] = foto; immagini;
Keywords[ja] = photos; pictures; フォト; 写真; 画像; 絵;
Keywords[nl] = afbeeldingen; foto's; photos; pictures;
Keywords[pt_BR] = foto; fotos; imagem; imagens;
Keywords[pt_PT] = fotografias; imagens;
Keywords[pt] = fotografias; imagens;
Keywords[ro] = fotografii; photos; pictures; poze;
Keywords[ru] = изображения; картинки; фотографии;
Keywords[uk] = світлини; фотографії;
Keywords = photos; pictures;
Name[ca] = GNOME Fotografies
Name[de] = GNOME Fotos
Name[el] = GNOME Φωτογραφίες
Name[eo] = GNOME Fotoj
Name[es] = GNOME Fotos
Name[eu] = GNOME Argazkiak
Name[fr] = GNOME Photos
Name[it] = GNOME Foto
Name[ja] = GNOME 写真
Name[nl] = GNOME Foto’s
Name[pt_BR] = GNOME Fotos
Name[pt_BR] = GNOME Fotografias
Name[pt] = GNOME Fotografias
Name[ro] = GNOME Fotografii
Name[ru] = GNOME Фотографии
Name[uk] = GNOME Світлини
Name = GNOME Photos
StartupNotify = true
StartupWMClass = gnome-photos
Terminal = false
Type = Application
Version = 1.1
