[Desktop Entry]
Categories = Graphics; VectorGraphics;
Comment[ca] = Creeu i editeu imatges de gràfics de vectors escalables
Comment[de] = Skalierbare Vektorgrafiken erstellen und bearbeiten
Comment[el] = Δημιουργία και τροποποίηση κλιμακώσιμων διανυσματικών εικόνων γραφικών
Comment[eo] = Kreu kaj redaktu bildoj en formato SVG (Scalable Vector Graphics)
Comment[es] = Cree y edite Gráficos Vectoriales Escalables (SVG)
Comment[fr] = Créer et éditer des images Scalable Vector Graphics
Comment[it] = Crea e modifica immagini Scalable Vector Graphics
Comment[ja] = Scalable Vector Graphics (SVG) 画像の作成と編集を行います
Comment[nl] = Scalable Vector Graphics-afbeeldingen maken en bewerken
Comment[pt_BR] = Crie e edite desenhos vetoriais escaláveis (SVG)
Comment[pt_PT] = Criar e editar imagens gráficas vetoriais escaláveis
Comment[pt] = Criar e editar imagens gráficas vetoriais escaláveis
Comment[ro] = Creează și editează imagini în format Scalable Vector Graphics
Comment[ru] = Создание и редактирование масштабируемой векторной графики в формате SVG
Comment[uk] = Створення та редагування зображень у форматі SVG
Comment = Create and edit SVG images
Exec = inkscape %F
GenericName[ca] = Editor de gràfics vectorials
GenericName[de] = Vektorgrafikeditor
GenericName[el] = Επεξεργαστής διανυσματικών γραφικών
GenericName[es] = Editor de gráficos vectoriales
GenericName[fr] = Éditeur d’images vectorielles SVG Inkscape
GenericName[it] = Grafica vettoriale SVG
GenericName[ja] = ベクターグラフィックエディター
GenericName[nl] = Vector tekenpakket
GenericName[pt_BR] = Editor de Imagens Vetoriais
GenericName[pt_PT] = Editor de Imagens Vetoriais
GenericName[pt] = Editor de Imagens Vetoriais
GenericName[ro] = Editor de grafică vectorială
GenericName[ru] = Редактор векторной графики
GenericName[uk] = Редактор векторної графіки
GenericName = Vector Graphics Editor
Icon = org.inkscape.Inkscape
Keywords[ca] = dibuix; editor; imatge; vector;
Keywords[de] = drawing; editor; image; vector;
Keywords[es] = dibujo; imagen, editor; vectorial;
Keywords[fr] = dessin; éditeur; image; vectoriel;
Keywords[it] = disegno; editor; immagine; vettoriale;
Keywords[nl] = drawing; editor; image; vector;
Keywords[pt_BR] = desenho; editor; imagem; vetor;
Keywords[pt_PT] = desenho; editor; imagem; vetorial;
Keywords[pt] = desenho; editor; imagem; vetorial;
Keywords[ru] = вектор; изображение; редактор; рисунок;
Keywords[uk] = drawing; editor; image; vector; вектор; векторне; зображення; малювання; редактор;
Keywords = drawing; editor; image; vector;
MimeType = application/illustrator; application/pdf; application/postscript; application/visio; application/visio.drawing; application/vnd.corel-draw; application/vnd.visio; application/vsd; application/x-visio; application/x-vsd; application/x-xccx; application/x-xcdt; application/x-xcgm; application/x-xcmx; application/x-xsk1; image/cgm; image/svg+xml; image/svg+xml-compressed; image/x-eps; image/x-vsd; image/x-wmf; image/x-xcdr;
Name[he] = אינקסקייפ
Name[ko] = 잉크스케이프
Name = Inkscape
StartupWMClass = inkscape
StartupNotify = true
Terminal = false
TryExec = inkscape
Type = Application
Version = 1.0

[X-Drawing Shortcut Group]
Name[ca] = Dibuix nou
Name[de] = Neue Zeichnung
Name[el] = Νέο σχέδιο
Name[es] = Dibujo nuevo
Name[fr] = Nouveau dessin
Name[it] = Nuovo disegno
Name[ja] = 新しいベクター画像
Name[nl] = Nieuwe tekening
Name[pt_BR] = Novo Desenho
Name[pt_PT] = Novo Desenho
Name[pt] = Novo Desenho
Name[ro] = Desen nou
Name[ru] = Новый рисунок
Name[uk] = Новий малюнок
Name = New Drawing
Exec = inkscape
