[Desktop Entry]
Categories = AudioVideo; Graphics;
Comment = It allows testing Video4Linux devices
Comment[ca] = Permet provar els dispositius Video4Linux
Comment[de] = Es ermöglicht das Testen von Video4Linux-Geräten
Comment[es] = Permite probar dispositivos del Video4Linux.
Comment[fr] = Il permet de tester les périphériques Video4Linux
Comment[it] = Permette di testare i dispositivi Video4Linux
Comment[nl] = Hiermee kunnen Video4Linux-apparaten worden getest
Comment[pt] = Permite testar dispositivos Video4Linux
Comment[pt_BR] = Permite testar dispositivos Video4Linux
Comment[pt_PT] = Permite testar dispositivos Video4Linux
Exec = qv4l2
GenericName = Video4Linux Test
GenericName[ca] = Prova de Video4Linux
GenericName[de] = Video4Linux-Test
GenericName[es] = Prubea del Video4Linux
GenericName[fr] = Test du Video4Linux
GenericName[it] = Test del Video4Linux
GenericName[nl] = Video4Linux-Test
GenericName[pt_BR] = Teste do Video4Linux
GenericName[pt_PT] = Teste do Video4Linux
GenericName[pt] = Teste do Video4Linux
Icon = qv4l2
Keywords = grabber; V4L; video;
Keywords[ca] = V4L; prova; vídeo; vídeos;
Keywords[de] = Test; Video; Videos; V4L;
Keywords[el] = V4L; βίντεο; δοκιμή; εξετάσεις; εξέταση;
Keywords[eo] = testo; V4L; video; videoj;
Keywords[es] = prueba; V4L; vídeo; vídeos;
Keywords[eu] = bideo; bideoak; froga; proba; V4L; video; videoak;
Keywords[fr] = test; V4L; vidéo; vidéos;
Keywords[it] = test; V4L; video;
Keywords[ja] = V4L; video; videos; テスト; ビデオ; 動画; 試し; 試験;
Keywords[ka] = test; V4L; video; videos; გამოცდა; ექსპერიმენტი; ვიდეო; ვიდეოები; 
Keywords[nl] = test; V4L; video; video’s, videos;
Keywords[pt_BR] = prova; teste; V4L, vídeo; vídeos;
Keywords[pt_PT] = prova; teste; V4L, vídeo; vídeos;
Keywords[pt] = prova; teste; V4L, vídeo; vídeos;
Keywords[ro] = analizăl; examen; experienţă; probă; test; V4L; video; videoclipuri;
Keywords[ru] = test; V4L; video; videos; анализ; видео; испытание; проба; проверка;
Keywords[uk] = V4L; video; videos; випроба; випробування; відео; досвід;
Name = QT V4L2 Test Utility
Name[ca] = Utilitat de prova QT V4L2
Name[de] = Test- Nützlichkeit von QT V4L2
Name[es] = Utilidad de prueba del QT V4L2
Name[fr] = Utilitaire de test du QT V4L2
Name[it] = Utilità del Test del QT V4L2
Name[nl] = QT V4L2-Testhulpprogramma
Name[pt_BR] = Utilitário de teste V4L2
Name[pt_PT] = Utilitário de teste V4L2
Name[pt] = Utilitário de teste V4L2
StartupNotify = true
StartupWMClass = qv4l2
Terminal = false
Type = Application
Version = 1.1
