[Desktop Entry]
Categories = AudioVideo; Grapics;
Comment = Viewer for the video capture
Comment[ca] = Visor per a la captura de vídeo
Comment[de] = Betrachter für die Videoaufnahme
Comment[es] = Visor para la captura de video.
Comment[fr] = Visionneuse pour la capture de vidéo
Comment[it] = Visualizzatore per l’acquisizione di video
Comment[nl] = Viewer voor de video-opname
Comment[pt_BR] = Visualizador para a captura de vídeo
Comment[pt_PT] = Visualizador para a captura de vídeo
Comment[pt] = Visualizador para a captura de vídeo
Exec = qvidcap
GenericName = Video capture
GenericName[ca] = Captura de vídeo
GenericName[de] = Videoaufnahme-Betrachter.
GenericName[es] = Captura de video
GenericName[fr] = Capture de vidéo
GenericName[it] = Acquisizione di video
GenericName[nl] = Video-opname
GenericName[pt_BR] = Captura de vídeo
GenericName[pt_PT] = Captura de vídeo
GenericName[pt] = Captura de vídeo
Icon = qvidcap
Keywords = grabber; V4L; video;
Keywords[ca] = V4L; prova; vídeo; vídeos;
Keywords[de] = Test; Video; Videos; V4L;
Keywords[el] = V4L; βίντεο; δοκιμή; εξετάσεις; εξέταση;
Keywords[eo] = testo; V4L; video; videoj;
Keywords[es] = prueba; V4L; vídeo; vídeos;
Keywords[eu] = bideo; bideoak; froga; proba; V4L; video; videoak;
Keywords[fr] = test; V4L; vidéo; vidéos;
Keywords[it] = test; V4L; video;
Keywords[ja] = V4L; video; videos; テスト; ビデオ; 動画; 試し; 試験;
Keywords[ka] = test; V4L; video; videos; გამოცდა; ექსპერიმენტი; ვიდეო; ვიდეოები; 
Keywords[nl] = test; V4L; video; video’s, videos;
Keywords[pt_BR] = prova; teste; V4L, vídeo; vídeos;
Keywords[pt_PT] = prova; teste; V4L, vídeo; vídeos;
Keywords[pt] = prova; teste; V4L, vídeo; vídeos;
Keywords[ro] = analizăl; examen; experienţă; probă; test; V4L; video; videoclipuri;
Keywords[ru] = test; V4L; video; videos; анализ; видео; испытание; проба; проверка;
Keywords[uk] = V4L; video; videos; випроба; випробування; відео; досвід;
Name = QT V4L2 Video Capture Utility
Name[ca] = Utilitat de Captura de vídeo QT V4L2
Name[de] = QT V4L2 Videoaufnahme-Nützlichkeit
Name[es] = Utilidad de la Captura de Video QT V4L2
Name[fr] = Utilitaire de la Capture de Vidéo QT V4L2
Name[it] = Utilità dell’Acquisizione di video QT V4L2
Name[nl] = Video-Opname-Testhulpprogramma QT V4L2
Name[pt_BR] = Utilitário da Captura de Vídeo QT V4L2
Name[pt_PT] = Utilitário da Captura de Vídeo QT V4L2
Name[pt] = Utilitário da Captura de Vídeo QT V4L2
StartupNotify = true
StartupWMClass = qvidcap
Terminal = false
Type = Application
Version = 1.1
