[Desktop Entry]
Categories = Graphics; Viewer;
Comment = DVI files viewer
Comment[ca] = Visor de fitxers DVI
Comment[de] = DVI-Dateien-Betrachter
Comment[es] = Visor de archivos DVI
Comment[fr] = Visionneuse de fichiers DVI
Comment[it] = Visualizzatore di file DVI
Comment[nl] = DVI-bestanden viewer
Comment[pt] = Visualizador de ficheiros DVI
Comment[pt_BR] = Visualizador de arquivos DVI
Comment[pt_PT] = Visualizador de ficheiros DVI
Exec = xdvi %f
GenericName = DVI files viewer
GenericName[ca] = Visor de fitxers DVI
GenericName[de] = DVI-Dateien-Viewer
GenericName[es] = Visor de archivos DVI
GenericName[fr] = Visionneuse de fichiers DVI
GenericName[it] = Visualizzatore di file DVI
GenericName[nl] = DVI-bestanden viewer
GenericName[pt_BR] = Visualizador de arquivos DVI
GenericName[pt_PT] = Visualizador de ficheiros DVI
GenericName[pt] = Visualizador de ficheiros DVI
Icon  =  xdvi
Keywords = documents; dvi; DVI; viewer;
Keywords[ca] = documents; dvi; DVI; visor;
Keywords[de] = Betrachter; dvi; SVI; Unterlagen; Viewer;
Keywords[es] = documentos; dvi; DVI; visor;
Keywords[fr] = documents; dvi; DVI; visionneuse;
Keywords[it] = documenti; dvi; DVI; visualizzatore;
Keywords[nl] = documenten; dvi; DVI; viewer;
Keywords[pt_BR] = documentos; dvi; DVI; visualizador;
Keywords[pt_PT] = documentos; dvi; DVI; visualizador;
Keywords[pt] = documentos; dvi; DVI; visualizador;
Name = XDvi
StartupNotify = true
StartupWMClass = xdvi
Terminal = false
Type = Application
Version = 1.1