[Desktop Entry]
Exec = evolution -c calendar
Icon = evolution
Name = Evolution Calendar
Name[ca] = Calendari de l’Evolution
Name[de] = Evolution-Kalender
Name[el] = Ημερολόγιο Evolution
Name[en_GB] = Evolution Calendar
Name[eo] = Evolucio-kalendaro
Name[es] = Calendario de Evolution
Name[eu] = Evolution egutegia
Name[fr] = Agenda d’Evolution
Name[it] = Calendario di Evolution
Name[ja] = Evolution カレンダー
Name[nl] = Evolution-agenda
Name[pt_BR] = Agenda do Evolution
Name[pt] = Calendário do Evolution
Name[ro] = Calendar Evolution
Name[ru] = Календарь Evolution
Name[uk] = Календар Evolution
NoDisplay = true
StartupNotify = true
StartupWMClass = evolution
Type = Application

