[Desktop Entry]
Version=1.1
Type=Application
Name=Documents
Comment=Access, manage and share documents
Icon=org.gnome.Documents
DBusActivatable=true
Exec=gnome-documents
Actions=
Categories=Office;Publishing;WordProcessor;
Keywords=Docs;PDF;Document;
StartupNotify=true
