[Desktop Entry]
Categories = Accessories; Utility;
Comment = Program keyboard shortcuts
Comment[ca] = Programa dreceres de teclat
Comment[de] = Programmiere die Tastenkombinationen
Comment[es] = Programe los atajos de teclado
Comment[fr] = Programmez des raccourcis clavier
Comment[it] = Programma scorciatoie da tastiera
Comment[nl] = Programmeer sneltoetsen
Comment[pt] = Programa os atalhos de teclado
Comment[pt_BR] = Programe os atalhos de teclado
Comment[pt_PT] = Programa os atalhos de teclado
Exec = autokey-gtk -c
GenericName = Keyboard Automation
GenericName[ca] = Automatització de teclat
GenericName[de] = Tastaturautomatisierung
GenericName[es] = Automatización del teclado
GenericName[fr] = Automatisation du clavier
GenericName[it] = Automazione della tastiera
GenericName[nl] = Toetsenbordautomatisering
GenericName[pt] = Automação do Teclado
GenericName[pt_BR] = Automação do Teclado
GenericName[pt_PT] = Automação do Teclado
Icon = autokey
Keywords[ca] = automatització; claus; dreceres; teclat;
Keywords[de] = Automatisierung; Tastatur; Tastaturbefehl; Tastaturkombination; Tastaturkürzel; Tastenkombination; Tastenkürzel; Tastensequenz;
Keywords[es] = atajo de teclado; atajos; atajos de teclado; automatización; método abreviado de teclado, combinación de teclas; tecla aceleradora; tecla de acceso rápido; teclado;
Keywords[fr] = automatisation; clavier; raccourcis; raccourci clavier; raccourcis clavier;
Keywords[it] = automazione; scorciatoia da tastiera; scorciatoie da tastiera; tasti di scelta rapida; tastiera;
Keywords[ja] = automation; keyboard; keys; shortcuts; キーボードショートカット; ショートカットキー; ホットキー
Keywords[nl] = automatisering; snelkoppelingen; sneltoets; toetscombinatie; toetsenbord;
Keywords[pt] = atalho de teclado; atalhos; atalhos de teclado; automação; tecla de atalho; teclado; teclas de atalho;
Keywords[pt_BR] = atalho de teclado; atalhos; atalhos de teclado; automação; tecla de atalho; teclado; teclas de atalho;
Keywords[pt_PT] = atalho de teclado; atalhos; atalhos de teclado; automação; tecla de atalho; teclado; teclas de atalho;
Keywords[ru] = automation; keyboard; keys; shortcuts; горячая клавиша; клавиатурный ускоритель; клавиша быстрого вызова; клавиша быстрого доступа; сочетание клавиш; шорткат;
Keywords = automation; keyboard; keys; shortcuts;
Name = AutoKey
StartupNotify = true
StartupWMClass = autokey-gtk
Type = Application
Version = 1.1
