[Desktop Entry]
Version=1.1
Type=Application
Name=Bluetooth Transfer
Comment=Send files via Bluetooth
Icon=bluetooth
Exec=bluetooth-sendto
Actions=
Categories=FileTools;Utility;
StartupNotify=true
