[Desktop Entry]
Name=Budgie Desktop Settings
Name[ar]=إعدادات سطح مكتب بادجي
Name[bg_BG]=Budgie Настройки на работния плот
Name[bn]=Budgie ডেস্কটপ সেটিংস
Name[ca]=Paràmetres de l'escriptori Budgie
Name[cs]=Nastavení plochy Budgie
Name[da]=Budgie-skrivebordsindstillinger
Name[de]=Budgie Desktop Einstellungen
Name[el_GR]=Ρυθμίσεις περιβάλλοντος εργασίας Budgie
Name[en_GB]=Budgie Desktop Settings
Name[en_US]=Budgie Desktop Settings
Name[eo]=Agordoj de la labortablo "Budgie"
Name[es]=Configuraciones del escritorio Budgie
Name[es_AR]=Ajustes de Budgie
Name[es_CL]=Ajustes de Budgie Desktop
Name[es_MX]=Configuraciónes del Escritorio Budgie
Name[es_PE]=Configuraciones de Escritorio Budgie
Name[es_US]=Configuraciónes del Escritorio Budgie
Name[eu]=Budgie Mahaigainaren Ezarpenak
Name[fi]=Budgie-työpöydän asetukset
Name[fr]=Paramètres du Bureau Budgie
Name[fr_BE]=Paramètres du Bureau Budgie
Name[ga]=Socruithe Deasc Budgie
Name[he]=הגדרות ממשק Budgie
Name[hr]=Postavke Budgie radne površine
Name[hu]=Budgie Desktop beállítása
Name[id]=Pengaturan Desktop Budgie
Name[it]=Impostazioni Desktop Budgie
Name[ja_JP]=Budgieデスクトップの設定
Name[ko]=Budgie 데스크톱 설정
Name[lt]=Budgie darbalaukio nustatymai
Name[lv]=Budgie darbvirsmas iestatījumi
Name[ms_MY]=Tetapan Desktop Budgie
Name[nl]=Budgie Bureaublad Instellingen
Name[nl_BE]=Budgie Bureaublad Instellingen
Name[no]=Budgie Desktop-inntillinger
Name[pl]=Ustawienia Pulpitu Budgie
Name[pt]=Definições do ambiente de trabalho Budgie
Name[pt_BR]=Configurações do Budgie Desktop
Name[pt_PT]=Definições do Budgie Desktop
Name[ro]=Setări desktop Budgie
Name[ru]=Настройки рабочего стола Budgie
Name[sk]=Nastavenia pre Budgie Desktop
Name[sl]=Nastavite Budgie namizja
Name[sv]=Skrivbordsinställningar för Budgie
Name[tr]=Budgie Masaüstü Ayarları
Name[uk]=Налаштування Budgie Desktop
Name[vi_VN]=Cài đặt Desktop Budgie
Name[zh]=Budgie 桌面设置
Name[zh_HK]=Budgie 桌面設定
Name[zh_TW]=Budgie 桌面設定
Comment=Change desktop appearance and behavior
Comment[ar]=تغيير مظهر و تصرف سطح المكتب
Comment[bg_BG]=Промяна на външния вид и поведението на работния плот
Comment[bn]=ডেস্কটপের চেহারা ও আচরণ পরিবর্তন করুন
Comment[ca]=Canvieu l'aparença i el comportament de l'escriptori.
Comment[cs]=Přizpůsobit vzhled a chování plochy
Comment[de]=Aussehen und Verhalten des Desktops anpassen
Comment[el_GR]=Αλλάξτε την εμφάνιση και συμπεριφορά της επιφάνειας εργασίας
Comment[en_GB]=Change desktop appearance and behaviour
Comment[en_US]=Change desktop appearance and behavior
Comment[es]=Cambiar apariencia y comportamiento del escritorio
Comment[es_MX]=Cambiar la apariencia del escritorio y comportamiento
Comment[es_US]=Cambiar la apariencia y el comportamiento del escritorio
Comment[fr]=Modifier l'apparence et le comportement du bureau
Comment[fr_BE]=Modifier l'apparence et le comportement du bureau
Comment[ga]=Athraigh cuma agus iompraíocht na deisce
Comment[he]=שנה מראה והתנהגות שולחן העבודה
Comment[hu]=Az asztali megjelenés és a viselkedés megváltoztatása
Comment[id]=Ganti tampilan dan perilaku desktop
Comment[it]=Cambia aspetto e comportamento del desktop
Comment[ko]=데스크톱 모양새와 행동방식 변경
Comment[lt]=Keisti darbalaukio išvaizdą ir elgseną
Comment[nl]=Wijzig uiterlijk en gedrag van het bureaublad
Comment[nl_BE]=Wijzig uiterlijk en gedrag van het bureaublad
Comment[no]=Endre skrivebordsadferd og utforming
Comment[pl]=Zmień wygląd i zachowanie pulpitu
Comment[pt]=Alterar a aparência e comportamento do ambiente de trabalho
Comment[pt_BR]=Alterar a aparência e o comportamento da Área de Trabalho
Comment[ro]=Modificați aspectul și comportamentul desktopului
Comment[ru]=Изменить внешний вид и поведение рабочего стола
Comment[sl]=Spremeni videz in vedenje namizja
Comment[sv]=Ändra skrivbordets utseende och beteende
Comment[tr]=Masaüstü görünümünü ve davranışını değiştir
Icon=preferences-desktop
Exec=budgie-desktop-settings
TryExec=budgie-desktop-settings
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
OnlyShowIn=Budgie;
StartupWMClass=budgie-desktop-settings
