[Desktop Entry]
Categories = Core; System;
Comment = Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[ca] = Obre altres aplicacions i proporciona diverses utilitats per gestionar finestres, mostrar l’hora, etc.
Comment[de] = Andere Anwendungen öffnen und Funktionalitäten hinzufügen wie z.B. Hilfsmittel, um Fenster zu verwalten oder die Uhrzeit anzuzeigen.
Comment[el_GR] = Εκτέλεση άλλων εφαρμογών και παροχή διάφορων εργαλείων για τη διαχείριση παραθύρων, εμφάνιση της ώρας, κλπ.
Comment[eo] = Ĝi lanĉas aliajn aplikaĵojn kaj havigas kelkajn utilaĵojn por mastrumi vindozojn, montri la tempon, ktp.
Comment[es_AR] = Inicia otras aplicaciones y provee varias utilidades para administrar ventanas, mostrar la hora, etc.
Comment[es_CL] = Abre otras aplicaciones y provee varias utilidades para gestionar ventanas, mostrar la hora, etc.
Comment[es_MX] = Lanzar otras aplicaciones y proveer varias utilidades para administrar ventanas, mostar la hora, etc.
Comment[es_PE] = Correr otras aplicaciones y proveer varias utilidades para configurar ventanas, tiempo, etc.
Comment[es_US] = Ejecuta otras aplicaciones y provee diversas herramientas para administrat ventanas, mostrar el tiempo, etc.
Comment[es] = Iniciar otras aplicaciones y proveer utilidades varias para configurar las ventanas, el tiempo, etc.
Comment[eu] = Beste aplikazio batzuk abiarazi eta leihoak kudeatzeko, denbora erakusteko, etab. hainbat utilitate eskaini.
Comment[fr] = Lance d’autres applications et fournit divers utilitaires pour gérer les fenêtres, afficher l’heure, etc.
Comment[ga] = Lainseáil feidhmchláir agus cuir áirgí ar fáil chun fuinneoga a bhainistiú, an t-am a thaispeáint, srl.
Comment[it] = Avvia altre applicazioni e fornisci diverse utilità per gestire finestre, mostrare l’ora, ecc.
Comment[ja] = いろいろなアプリケーションの起動と、ウィンドウの管理や時間の表示と行ったさまざまユーティリティの提供.
Comment[nl] = Andere toepassingen opstarten die diverse tools verstrekken om vensters in te stellen, de tijd tonen, etc.
Comment[pt_BR] = Executa outros aplicativos e fornece vários utilitários para gerenciar janelas, exibir data e hora, etc.
Comment[pt_PT] = Lançar outras aplicações e fornecer várias utilidades para gerir janelas, exibir a hora, etc.
Comment[pt] = Lançar outras aplicações e fornecer várias utilidades para gerir janelas, exibir a hora, etc.
Comment[ro] = Lansează alte aplicații și furnizează utilități pentru administrarea ferestrelor, arătarea orei, etc.
Comment[ru] = Запуск других приложений и предоставление различных утилит для управления окнами, отображения времени и т.д.
Comment[uk] = Запускає інші додатки та надає різноманітні інструменти для керування вікнами, показу часу, і т.д.
Exec = budgie-panel
Icon = budgie-panel
Name = Budgie Panel
Name[ca] = Plafó del Budgie
Name[de] = Budgie Leiste
Name[el_GR] = Budgie Πάνελ
Name[eo] = Panelo de Budgie
Name[es] = Panel Budgie
Name[eu] = Budgie Panela
Name[fr] = Panneau Budgie
Name[it] = Pannello Budgie
Name[ja] = Budgie パネル
Name[nl] = Budgie Panel
Name[pt_BR] = Painel Budgie
Name[pt_PT] = Painel Budgie
Name[pt] = Painel Budgie
Name[ro] = Panou Budgie
Name[ru] = Панель Budgie
Name[uk] = Панель Budgie
NoDisplay = true
OnlyShowIn = Budgie;
StartupNotify = true
StartupWNClass = budgie-panel
Terminal = false
Type = Application
X-GNOME-AutoRestart = false
X-GNOME-Autostart-Notify = true
X-GNOME-Autostart-Phase = Panel
X-GNOME-Provides = panel
