[Desktop Entry]
Categories = Core; System;
Comment = Budgie PolicyKit Authorisation UI
Exec = budgie-polkit-dialog
Icon = budgie-polkit-dialog
Name = Budgie PolicyKit UI
NoDisplay = true
OnlyShowIn = Budgie
StartupNotify = true
Terminal = false
Type = Application
X-GNOME-AutoRestart = true
X-GNOME-Autostart-Notify = true
X-GNOME-Autostart-Phase = Desktop
