[Desktop Entry]
Exec = budgie-wm
Icon = budgie-wm
Name = Budgie Window Manager
NoDisplay = true
OnlyShowIn = Budgie;
Type = Application
X-GNOME-Autostart-Notify = true
X-GNOME-Autostart-Phase = WindowManager
X-GNOME-Provides = windowmanager
X-GNOME-WMName = Budgie
X-GNOME-WMSettingsModule = metacity
X-GnomeWMSettingsLibrary = metacity
