[Desktop Entry]
Categories = Network; SocialNetworks;
Comment = Unofficial Facebook Messenger app
Exec = caprine
GenericName = IM Client
Icon = caprine
Name = Caprine
StartupNotify = true
StartupWMClass = caprine
Type = Application
