[Desktop Entry]
Categories = Accessories; Education; Geography; Geology; Science; Utility;
Comment = Forecast and Weather Application
Comment[ca] = Aplicació de Previsió
Comment[de] = Wetter-App
Comment[es] = Aplicación de Clima
Comment[fr] = Application de météo
Comment[it] = Applicazione di Tempo metereologico
Comment[nl] = Weer-App
Comment[pt_BR] = Aplicativo de Clima
Comment[pt_PT] = Aplicação de Clima
Comment[pt] = Aplicação de Clima
Comment[ru] = Прогноз погоды для рабочего стола
Exec = com.gitlab.bitseater.meteo
GenericName = Forecast
GenericName[ca] = Previsió
GenericName[de] = Wetter
GenericName[es] = Clima y Tiempo
GenericName[fr] = Météo
GenericName[it] = Tempo metereologico
GenericName[nl] = Weer
GenericName[pt_BR] = Clima, Previsão e Tempo
GenericName[pt_PT] = Clima, Previsão e Tempo
GenericName[pt] = Clima, Previsão e Tempo
Icon = com.gitlab.bitseater.meteo
Keywords = forecast; meteo; rain; snow; temperature; weather; wind;
Keywords[ca] = neu; pluja; temperatura; temps; vent;
Keywords[de] = Regen; Schnee; Temperatur; Wetter; Wind;
Keywords[es] = clima; lluvia; nieve; temperatura; tiempo; viento;
Keywords[fr] = conditions météorologiques; météo; neige; pluie; température; temps; vent;
Keywords[it] = neve; pioggia; temperatura; tempo; tempo atmosferico; tempo metereologico; vento;
Keywords[nl] = regen; sneeuw; temperatuur; weer; wind;
Keywords[pt_BR] = chuva; clima; meteorologia; neve; previsão; temperatura; tempo; vento;
Keywords[pt_PT] = chuva; clima; meteorologia; neve; previsão; temperatura; tempo; vento;
Keywords[pt] = chuva; clima; meteorologia; neve; previsão; temperatura; tempo; vento;
Keywords[ru] = ветер; дождь; погода; прогноз; снег; температура;
Name = Meteo
StartupNotify = true
StartupWMClass = com.gitlab.bitseater.meteo
Type = Application
Version = 1.1
X-GNOME-Gettext-Domain = com.gitlab.bitseater.meteo
X-GNOME-UsesNotifications = true