[Desktop Entry]
Actions = new-document;
Categories = Office; Programming; TextEditor;
Comment = Edit text files
Comment[ca] = Editeu fitxers de text
Comment[de] = Textdateien bearbeiten
Comment[el] = Επεξεργασία αρχείων κειμένου
Comment[eo] = Redakti tekstdosierojn
Comment[es] = Edite archivos de texto
Comment[eu] = Editatu testu-fitxategiak
Comment[fr] = Éditer des fichiers texte
Comment[it] = Modifica file di testo
Comment[ja] = テキスト形式のファイルを編集します
Comment[ka] = ტექსტური ფაილების რედაქტირება
Comment[nl] = Tekstbestanden bewerken
Comment[pt_BR] = Edite arquivos de texto
Comment[pt] = Editar ficheiros de texto
Comment[ro] = Editare fișiere text
Comment[ru] = Редактор текстовых файлов
Comment[uk] = Редактор текстових файлів
DBusActivatable = true
Exec = gedit %U
Icon = org.gnome.gedit
Keywords = editor; plaintext; text; write;
Keywords[ca] = editor; text; escriure; text simple;
Keywords[de] = editor; klartext; schreiben; text;
Keywords[el] = editor; plaintext; text; write; γράψιμο; εγγραφή; επεξεργαστής; κείμενο;
Keywords[eo] = plata teksto; redaktilo; skribi; teksto;
Keywords[es] = editor; escribir; plano; texto;
Keywords[eu] = editorea; idatzi; testu soila; testua;
Keywords[fr] = texte brut; écrire; éditeur;
Keywords[it] = editor; scrivere; testo; text;
Keywords[ja] = editor; plaintext; text; write; エディター; テキスト; プレーンテキスト;
Keywords[nl] = editor; plaintext; text; write; platte tekst; schrijven; tekst; teksteditor; tekstverwerker;
Keywords[pt_BR] = editor; escrever; texto; texto simples; texto plano; texto puro; texto sem formatação;
Keywords[pt] = editor; escrever; simples; texto;
Keywords[ro] = editor; plaintext; scrie; text; write;
Keywords[ru] = запись; редактор; текст; текстовый;
Keywords[uk] = запис; редактор; текст;
MimeType = text/plain;
Name = Text Editor
Name[ca] = Editor de text
Name[de] = Texteditor
Name[el] = Επεξεργαστής κειμένου
Name[eo] = Tekstredaktilo
Name[es] = Editor de textos
Name[eu] = Testu-editorea
Name[fr] = Éditeur de texte
Name[it] = Editor di testo
Name[ja] = テキストエディター
Name[ka] = ტექსტის რედაქტორი
Name[nl] = Teksteditor
Name[pt_BR] = Editor de texto
Name[pt] = Editor de texto
Name[ro] = Editor de text
Name[ru] = Текстовый редактор
Name[uk] = Текстовий редактор
StartupNotify = true
StartupWMClass = gedit
Terminal = false
Type = Application
X-GNOME-Bugzilla-Bugzilla = GNOME
X-GNOME-Bugzilla-Component = general
X-GNOME-Bugzilla-ExtraInfoScript = /usr/lib/gedit/gedit-bugreport.sh
X-GNOME-Bugzilla-Product = gedit
X-GNOME-Bugzilla-Version = 3.32.0
X-GNOME-DocPath = gedit/gedit.xml

[Desktop Action new-window]
Name[ca] = _Finestra nova
Name[de] = Neues Fenster
Name[el] = Νέο παράθυρο
Name[eo] = Nova fenestro
Name[es] = Ventana nueva
Name[eu] = _Leiho berria
Name[fr] = Nouvelle fenêtre
Name[it] = Nuova finestra
Name[ja] = 新しいウィンドウ
Name[nl] = Nieuw venster
Name[pt] = Nova janela
Name[pt_BR] = Nova janela
Name[ro] = Fereastră nouă
Name[ru] = Создать окно
Name[uk] = Створити вікно
Name = New Window
Exec = gedit --new-window

[Desktop Action new-document]
Name[ca] = Crea un document nou
Name[de] = Neues Dokument
Name[el] = Νέο έγγραφο
Name[eo] = Nova dokumento
Name[es] = Documento nuevo
Name[eu] = Dokumentu berria
Name[fr] = Nouveau document
Name[it] = Nuovo documento
Name[ja] = 新しいドキュメント
Name[nl] = Nieuw document
Name[pt] = Novo documento
Name[pt_BR] = Novo documento
Name[ro] = Document nou
Name[ru] = Создать документ
Name[uk] = Створити документ
Name = New Document
Exec = gedit --new-document
