[Desktop Entry]
Version=1.1
Type=Application
Name=Books
Comment=Access, manage and share books
Icon=org.gnome.Books
DBusActivatable=true
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=gnome-books org.gnome.Books
Actions=
Categories=Literature;Utility;
Keywords=Books;Comics;ePub;PDF;
StartupNotify=true
Hidden=true
