[Desktop Entry]
Categories = System;
Comment = PolicyKit Authentication Agent
Comment[ca] = Agent d’autenticació del PolicyKit
Comment[de] = PolicyKit-Authentifizierungs-Agent
Comment[el] = Πράκτορας ταυτοποίησης PolicyKit
Comment[es] = Agente de autenticación de PolicyKit
Comment[eu] = PolicyKit autentifikazio agentea
Comment[fi] = PolicyKit-tunnistautumisagentti
Comment[fr] = Agent d’authentification de « PolicyKit »
Comment[it] = Agente di autenticazione di PolicyKit
Comment[nl] = Authenticatieagent van PolicyKit
Comment[pt_BR] = Agente de Autenticação do PolicyKit
Comment[pt] = Agente de Autenticação do PolicyKit
Comment[ru] = Агент аутентификации PolicyKit
Comment[uk] = Агент розпізнавання PolicyKit
Exec = /usr/lib/polkit-kde-authentication-agent-1
Icon = password
Name = PolicyKit Authentication Agent
Name[ca] = Agent d’autenticació del PolicyKit
Name[de] = PolicyKit-Authentifizierungs-Agent
Name[el] = Πράκτορας ταυτοποίησης PolicyKit
Name[es] = Agente de autenticación de PolicyKit
Name[eu] = PolicyKit autentifikazio agentea
Name[fr] = Agent d’authentification de « PolicyKit »
Name[it] = Agente di autenticazione di PolicyKit
Name[nl] = Authenticatieagent van PolicyKit
Name[pt_BR] = Agente de Autenticação do PolicyKit
Name[pt] = Agente de Autenticação do PolicyKit
Name[ru] = Агент аутентификации PolicyKit
Name[uk] = Агент розпізнавання PolicyKit
Name[x-test] = xxPolicyKit Authentication Agentxx
NoDisplay = true
Terminal = false
Type = Application
X-DBUS-StartupType = Unique
X-KDE-autostart-phase = 0
X-KDE-StartupNotify = false
