[Desktop Entry]
Version=1.1
Type=Application
Name=GNOME Clocks
GenericName=Clocks
Comment=Clocks for world times, plus alarms, stopwatch and a timer
Icon=org.gnome.clocks
DBusActivatable=true
Exec=gnome-clocks
Actions=
Categories=Clock;
Keywords=time;timer;alarm;world clock;stopwatch;time zone;
StartupNotify=true
