[Desktop Entry]
Category = Core; System;
Exec = mutter
Icon = mutter
Name = Mutter
NoDisplay = true
Type = Application
X-GNOME-Autostart-Notify = true
X-GNOME-Autostart-Phase = WindowManager
X-GNOME-Bugzilla-Bugzilla = GNOME
X-GNOME-Bugzilla-Component = general
X-GNOME-Bugzilla-Product = mutter
X-GNOME-Provides = windowmanager
X-GNOME-WMName = Mutter
X-GNOME-WMSettingsModule = metacity
X-GnomeWMSettingsLibrary = metacity
