[Desktop Entry]
Categories = FileManager; FileTools; GNOME; GTK; System;
Comment = Access and organize files
Comment[ca] = Accediu i organitzeu fitxers
Comment[de] = Zugreife und organisiere die Dateien
Comment[en_GB] = Access and organise files
Comment[es] = Acceda y organize archivos.
Comment[fr] = Accédez et organisez les fichiers
Comment[it] = Accedi e organizza i file
Comment[nl] = Krijg toegang tot en organiseer de bestanden
Comment[pt_BR] = Acesse e organize arquivos
Comment[pt_PT] = Aceda e organize ficheiros
Comment[pt] = Aceda e organize ficheiros
Exec = nautilus-autorun-software %u
GenericName = File Manager
GenericName[ca] = Gestor de fitxers
GenericName[de] = Dateiverwaltung
GenericName[el] = Διαχειριστής αρχείων
GenericName[es] = Gestor de archivos
GenericName[eu] = Fitxategi-kudeatzailea
GenericName[fr] = Gestionnaire de fichiers
GenericName[it] = Gestore dei file
GenericName[ja] = ファイルマネージャ
GenericName[nl] = Bestandsbeheerder
GenericName[pt_BR] = Gerenciador de arquivos
GenericName[pt_PT] = Gestor de Ficheiros
GenericName[pt] = Gestor de Ficheiros
GenericName[ru] = Диспетчер файлов
GenericName[uk] = Менеджер файлів
Icon = org.gnome.Nautilus
Keywords = disk; explore; filesystem; folder; manager;
Keywords[ca] = carpeta; disc; explorar; gestor; gestor de fitxers; sistema de fitxers;
Keywords[de] = Dateisystem; Dateiverwaltung; erkunden; Manager; Ordner; Platte;
Keywords[es] = archivos; carpeta; carpetas; disco; explorar; gestor; gestor de archivos; sistema de archivos; 
Keywords[fr] = disque; dossier; dossiers; explorer; gestionnaire; gestionnaire de fichiers; système de fichiers;
Keywords[it] = cartella; cartelle; disco; esplorare; file; file manager; filesystem; gestore; gestore dei file; manager;
Keywords[nl] = beheerder; bestand; bestanden; bestandsbeheerder; bestandssysteem; file manager; harde schijf; manager; map; mappen; onderzoeken; schijf;
Keywords[pt_BR] = arquivo; arquivos; disco; documento; documentos; explorar; gerenciador de arquivos; sistema de arquivos;
Keywords[pt_PT] = directório; directórios; diretório; diretórios; disco; explorar; ficheiros; gestor de ficheiros; sistema de ficheiro;
Keywords[pt] = directório; directórios; diretório; diretórios; disco; explorar; ficheiros; gestor de ficheiros; sistema de ficheiro;
MimeType = x-content/unix-software;
Name = Run software
Name[ca] = Executa programari
Name[de] = Software ausführen
Name[el] = Εκτέλεση λογισμικού
Name[eo] = Lanĉi programaron
Name[es] = Ejecutar programa
Name[eu] = Exekutatu softwarea
Name[fr] = Lancer le logiciel
Name[it] = Esegui software
Name[ja] = ソフトウェアの実行
Name[nl] = Software starten
Name[pt_BR] = Executar software
Name[pt_PT] = Executar aplicação
Name[pt] = Executar aplicação
Name[ro] = Rulează programe
Name[ru] = Запуск приложения
Name[uk] = Запустити програму
StartupNotify = true
StartupWMClass = nautilus-autorun-software
Terminal = false
TryExec = nautilus-autorun-software
Type = Application
Version = 1.1
