[Desktop Entry]
Actions = new-window;
Categories = FileManager;
Comment = Twin-Panel File Manager
Comment[ca] = Gestor de fitxers de doble panell
Comment[de] = Doppelpanel-Dateiverwaltung
Comment[es] = Gestor de archivos de panel doble
Comment[fr] = Gestionnaire de fichiers à double panneau
Comment[it] = Gestore dei file con il pannello gemello
Comment[nl] = Bestandsbeheer met dubbel paneel
Comment[pt_BR] = Gerenciador de arquivos de painel duplo
Comment[pt_PT] = Gestor de ficheiros de painel duplo
Comment[pt] = Gestor de ficheiros de painel duplo
Exec = krusader -qwindowtitle %c %u
GenericName = File Manager
GenericName[ca] = Gestor de fitxers
GenericName[de] = Dateiverwaltung
GenericName[el] = Διαχειριστής αρχείων
GenericName[es] = Gestor de archivos
GenericName[eu] = Fitxategi-kudeatzailea
GenericName[fr] = Gestionnaire de fichiers
GenericName[it] = Gestore dei file
GenericName[ja] = ファイルマネージャ
GenericName[nl] = Bestandsbeheerder
GenericName[pt_BR] = Gerenciador de arquivos
GenericName[pt_PT] = Gestor de Ficheiros
GenericName[pt] = Gestor de Ficheiros
GenericName[ru] = Диспетчер файлов
GenericName[uk] = Менеджер файлів
Icon = krusader_user
Keywords = disk; explore; filesystem; folder; manager;
Keywords[ca] = carpeta; disc; explorar; gestor; gestor de fitxers; sistema de fitxers;
Keywords[de] = Dateisystem; Dateiverwaltung; erkunden; Manager; Ordner; Platte;
Keywords[es] = archivos; carpeta; carpetas; disco; explorar; gestor; gestor de archivos; sistema de archivos; 
Keywords[fr] = disque; dossier; dossiers; explorer; gestionnaire; gestionnaire de fichiers; système de fichiers;
Keywords[it] = cartella; cartelle; disco; esplorare; file; file manager; filesystem; gestore; gestore dei file; manager;
Keywords[nl] = beheerder; bestand; bestanden; bestandsbeheerder; bestandssysteem; file manager; harde schijf; manager; map; mappen; onderzoeken; schijf;
Keywords[pt_BR] = arquivo; arquivos; disco; documento; documentos; explorar; gerenciador de arquivos; sistema de arquivos;
Keywords[pt_PT] = directório; directórios; diretório; diretórios; disco; explorar; ficheiros; gestor de ficheiros; sistema de ficheiro;
Keywords[pt] = directório; directórios; diretório; diretórios; disco; explorar; ficheiros; gestor de ficheiros; sistema de ficheiro;
MimeType = application/bzip2; application/gzip; application/x-7z-compressed; application/x-7z-compressed-tar; application/x-bzip; application/x-bzip-compressed-tar; application/x-compress; application/x-compressed-tar; application/x-cpio; application/x-gzip; application/x-lha; application/x-lzip; application/x-lzip-compressed-tar; application/x-lzma; application/x-lzma-compressed-tar; application/x-tar; application/x-tarz; application/x-xar; application/x-xz; application/x-xz-compressed-tar; application/zip; inode/directory;
Name = Krusader
StartupNotify = true
StartupWMClass = krusader
Terminal = false
Type = Application
Version = 1.1

[Desktop Action new-window]
Name = New Window
Name[ca] = Finestra nova
Name[de] = Neues Fenster
Name[el] = Νέο Παράθυρο
Name[es] = Nueva ventana
Name[fr] = Nouvelle fenêtre
Name[it] = Nuova finestra
Name[ja] = 新規ウインドウ
Name[nl] = Nieuw venster
Name[pt] = Nova janela
Name[pt_BR] = Nova janela
Name[ro] = Fereastră nouă
Name[ru] = Новое окно
Name[uk] = Нове вікно
Exec = nautilus --new-window
