[Desktop Entry]
Name[af]=Toepassings
Name[an]=Aplicacions
Name[ar]=التطبيقات
Name[as]=এপ্লিকেচনসমূহ
Name[ast]=Aplicaciones
Name[be]=Праграмы
Name[bg]=Програми
Name[bn]=অ্যাপলিকেশন
Name[bn_IN]=অ্যাপ্লিকেশন
Name[br]=Arloadoù
Name[bs]=Aplikacije
Name[ca]=Aplicacions
Name[ca@valencia]=Aplicacions
Name[crh]=Uyğulamalar
Name[cs]=Aplikace
Name[da]=Programmer
Name[de]=Anwendungen
Name[el]=Εφαρμογές
Name[en_GB]=Applications
Name[eo]=Aplikaĵoj
Name[es]=Aplicaciones
Name[et]=Rakendused
Name[eu]=Aplikazioak
Name[fa]=برنامه‌های کاربردی
Name[fi]=Sovellukset
Name[fr]=Applications
Name[fur]=Aplicazions
Name[ga]=Feidhmchláir
Name[gd]=Aplacaidean
Name[gl]=Aplicativos
Name[gu]=કાર્યક્રમો
Name[he]=יישומים
Name[hi]=अनुप्रयोग
Name[hr]=Aplikacije
Name[hu]=Alkalmazások
Name[id]=Aplikasi
Name[is]=Forrit
Name[it]=Applicazioni
Name[ja]=アプリケーション
Name[kk]=Қолданбалар
Name[km]=កម្មវិធី
Name[kn]=ಅನ್ವಯಗಳು
Name[ko]=프로그램
Name[ky]=Иштемелер
Name[lt]=Programos
Name[lv]=Lietotnes
Name[mk]=Апликации
Name[ml]=പ്രയോഗങ്ങള്‍
Name[mr]=ॲप्लिकेशन्स्
Name[nb]=Programmer
Name[ne]=अनुप्रयोग
Name[nl]=Toepassingen
Name[nn]=Program
Name[oc]=Aplicacions
Name[or]=ପ୍ରୟୋଗ
Name[pa]=ਐਪਲੀਕੇਸ਼ਨਾਂ
Name[pl]=Programy
Name[pt]=Aplicações
Name[pt_BR]=Aplicativos
Name[ro]=Aplicații
Name[ru]=Приложения
Name[sk]=Aplikácie
Name[sl]=Programi
Name[sr]=Програми
Name[sr@latin]=Programi
Name[sv]=Program
Name[ta]=பயன்பாடுகள்
Name[te]=అనువర్తనాలు
Name[tg]=Барномаҳо
Name[th]=โปรแกรม
Name[tr]=Uygulamalar
Name[ug]=پروگراممىلار
Name[uk]=Програми
Name[vi]=Ứng dụng
Name[zh_CN]=应用程序
Name[zh_HK]=程式集
Name[zh_TW]=程式集
Name=Applications
Comment[ar]=تحكم في مختلف صلاحيات وإعدادات التطبيقات
Comment[ca]=Controla diversos permisos d'aplicacions i paràmetres
Comment[cs]=Řídí různorodá oprávnění a nastavení aplikací
Comment[da]=Kontrollér forskellige programrettigheder og -indstillinger
Comment[de]=Festlegen verschiedener Anwendungs-Berechtigungen und Einstellungen
Comment[el]=Ελέγξτε τα διάφορα δικαιώματα και ρυθμίσεις εφαρμογών
Comment[en_GB]=Control various application permissions and settings
Comment[eo]=Kontroli diversajn aplikaĵajn permesojn kaj agordojn
Comment[es]=Controlar la configuración y los permisos de varias aplicaciones
Comment[eu]=Kontrolatu aplikazioen baimenak eta ezarpenak
Comment[fi]=Hallitse sovellusten eri oikeuksia ja asetuksia
Comment[fr]=Contrôle diverses permissions et réglages d’application
Comment[fur]=Controle i permès e lis impostazions des varis aplicazions
Comment[gl]=Controla os distintos permisos e preferencias do aplicativo
Comment[hr]=Upravlja različitim dozvolama i postavkama aplikacije
Comment[hu]=Különböző alkalmazások jogosultságainak és beállításainak vezérlése
Comment[id]=Kontrol berbagai izin dan pengaturan aplikasi
Comment[it]=Controlla permessi e impostazioni delle applicazioni
Comment[ja]=アプリケーションの権限や設定を変更します
Comment[kk]=Қолданбалардың түрлі рұқсаттарын және баптауларын басқару
Comment[ko]=여러가지 프로그램 권한과 설정을 조정합니다.
Comment[lt]=Valdyti įvairius programos leidimus bei nustatymus
Comment[lv]=Kontrolē dažādas lietotnes atļaujas un iestatījumus
Comment[nl]=Beheer verschillende toepassingsrechten en -instellingen
Comment[pl]=Sterowanie różnymi uprawnieniami i ustawieniami programów
Comment[pt_BR]=Controle várias permissões e configurações de aplicativos
Comment[ro]=Controlează permisiuni și configurări variate ale aplicației
Comment[ru]=Управление различными разрешениями и настройками приложения
Comment[sl]=Nadzor nad dovoljenji in nastavitvami številnih programov
Comment[sr]=Управља разним овлашћењима и подешавањима програма
Comment[sv]=Styr diverse behörigheter och inställningar för program
Comment[tr]=Türlü uygulama izinlerini ve ayarlarını denetle
Comment=Control various application permissions and settings
Exec=gnome-control-center applications
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ar]=application-x-executable
Icon[ca]=application-x-executable
Icon[cs]=application-x-executable
Icon[da]=application-x-executable
Icon[de]=application-x-executable
Icon[el]=application-x-executable
Icon[en_GB]=application-x-executable
Icon[eo]=application-x-executable
Icon[es]=application-x-executable
Icon[eu]=application-x-executable
Icon[fi]=application-x-executable
Icon[fr]=application-x-executable
Icon[fur]=application-x-executable
Icon[gl]=application-x-executable
Icon[hu]=application-x-executable
Icon[id]=application-x-executable
Icon[it]=application-x-executable
Icon[kk]=application-x-executable
Icon[ko]=application-x-executable
Icon[lt]=application-x-executable
Icon[lv]=application-x-executable
Icon[nl]=application-x-executable
Icon[pl]=application-x-executable
Icon[pt_BR]=application-x-executable
Icon[ro]=application-x-executable
Icon[ru]=application-x-executable
Icon[sl]=application-x-executable
Icon[sr]=application-x-executable
Icon[sv]=application-x-executable
Icon[tr]=application-x-executable
Icon=application-x-executable
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-AccountSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=تطبيق;صلاحيات;إعداد;application;flatpak;permission;setting;
Keywords[ca]=aplicació;flatpak;permís;paràmetre;
Keywords[cs]=aplikace;flatpak;oprávnění;nastavení;
Keywords[da]=application;program;flatpak;rettighed;indstilling;applikation;tilladelse;
Keywords[de]=anwendung;flatpak;berechtigung;einstellung;
Keywords[el]=εφαρμογή;flatpak;άδεια;ρύθμιση;application;flatpak;permission;setting;
Keywords[en_GB]=application;flatpak;permission;setting;
Keywords[eo]=aplikaĵo;flatpak;permeso;agordo;
Keywords[es]=aplicación;flatpak;permisos;configuración;
Keywords[eu]=aplikazioa;flatpack;baimena;ezarpena;
Keywords[fi]=application;flatpak;permission;setting;sovellus;käyttöoikeudet;asetus;
Keywords[fr]=application;flatpak;permission;réglage;
Keywords[fur]=aplicazion;flatpak;permès;impostazion;
Keywords[gl]=application;flatpak;permission;setting;
Keywords[hr]=aplikacija;flatpak;dozvole;postavka;
Keywords[hu]=alkalmazás;flatpak;jogosultság;beállítás;
Keywords[id]=aplikasi;flatpak;izin;pengaturan;
Keywords[it]=applicazione;flatpak;permessi;impostazioni;
Keywords[ja]=application;flatpak;permission;setting;アプリケーション;パーミッション;許可;権限;設定;
Keywords[kk]=application;flatpak;permission;setting;қолданба;рұқсат;баптау;
Keywords[ko]=application;애플리케이션;앱;프로그램;flatpak;permission;권한;setting;설정;
Keywords[lt]=programa;flatpak;leidimas;nustatymas;
Keywords[lv]=lietotne;aplikācija;flatpak;atļaujas;iestatījumi;setingi;
Keywords[nl]=application;flatpak;permission;setting;toepassing;rechten;machtigingen;instellingen;
Keywords[pl]=programy;aplikacja;aplikacje;flatpak;flatpack;uprawnienie;uprawnienia;pozwolenie;zezwolenie;ustawienie;ustawienia;opcje;
Keywords[pt_BR]=aplicativo;application;flatpak;permissão;permission;configuração;setting;
Keywords[ro]=application;flatpak;permission;setting;aplicație;permisiune;configurare;
Keywords[ru]=приложение;flatpak;права;доступ;настройки;параметры;
Keywords[sl]=program;flatpak;dovoljenja;nastavitve;
Keywords[sr]=application;flatpak;permission;setting;апликација;програм;флатпак;флетпек;флатпек;овлашћење;пермисија;подешавање;aplikacija;program;flatpak;fletpek;flatpek;ovlašćenje;permisija;podešavanje;ovlascenje;podesavanje;
Keywords[sv]=program;flatpak;rättighet;behörighet;inställning;
Keywords[tr]=uygulama;flatpak;izin;ayar;
Keywords=application;flatpak;permission;setting;
